{% for link in linklists['main-menu'].links %}
  {% if link.title == 'Shop vitals' %}
    <div class="mega " id="menu" data-id="{{ link.title }}">
      <div class="mega__shadow"></div>
      <div class="mega__wrap">
        <div class="megaImage">
          <div class="megaImage__image"></div>
        </div>
        <div class="mega__wrap__column mega__wrap__column--bordered animated">
          {% comment %}
            V-DELIVERY
          {% endcomment %}
          <h6 class="mega__wrap__column__link">
            <a class="" href="{{ collections.frontpage.url }}"><b>Pregnancy</b></a>
          </h6>
          {% for product in collections.frontpage.products limit: 2 %}
            <p class="mega__wrap__column__sublink">
              <a
                href="{{ product.url }}"
                class="[ js-mega-image ]"
                data-id="{{ product.title }}"
                data-image="{{ product.featured_image | image_url: width: 160 | image_url: height: 160 }}"
              >
                {{- product.title -}}
              </a>
            </p>
          {% endfor %}
          <p class="mega__wrap__column__sublink"><a href="{{ collections.frontpage.url }}">View more</a></p>

          {% comment %}
            Breast Feeding
          {% endcomment %}
          <h6 class="mega__wrap__column__link">
            <a class="" href="{{ collections.breast-feeding.url }}"><b>Breast Feeding</b></a>
          </h6>
          {% for product in collections['breast-feeding'].products limit: 2 %}
            <p class="mega__wrap__column__sublink">
              <a
                href="{{ product.url }}"
                class="[ js-mega-image ]"
                data-id="{{ product.title }}"
                data-image="{{ product.featured_image | image_url: width: 160 | image_url: height: 160 }}"
              >
                {{- product.title -}}
              </a>
            </p>
          {% endfor %}
          <p class="mega__wrap__column__sublink">
            <a href="{{ collections.breast-feeding.url }}">View more</a>
          </p>

          {% comment %}
            V-DELIVERY
          {% endcomment %}
          <h6 class="mega__wrap__column__link">
            <a class="" href="{{ collections.c-section-delivery.url }}"><b>C-Section Delivery</b></a>
          </h6>
          {% for product in collections['c-section-delivery'].products limit: 2 %}
            <p class="mega__wrap__column__sublink">
              <a
                href="{{ product.url }}"
                class="[ js-mega-image ]"
                data-id="{{ product.title }}"
                data-image="{{ product.featured_image | image_url: width: 160 | image_url: height: 160 }}"
              >
                {{- product.title -}}
              </a>
            </p>
          {% endfor %}
          <p class="mega__wrap__column__sublink">
            <a href="{{ collections.c-section-delivery.url }}">View more</a>
          </p>
        </div>

        <div class="mega__wrap__column mega__wrap__column--bordered animated">
          {% comment %}
            V-DELIVERY
          {% endcomment %}
          <h6 class="mega__wrap__column__link">
            <a class="" href="{{ collections.v-delivery.url }}"><b>V-Delivery</b></a>
          </h6>
          {% for product in collections['v-delivery'].products limit: 2 %}
            <p class="mega__wrap__column__sublink">
              <a
                href="{{ product.url }}"
                class="[ js-mega-image ]"
                data-id="{{ product.title }}"
                data-image="{{ product.featured_image | image_url: width: 160 | image_url: height: 160 }}"
              >
                {{- product.title -}}
              </a>
            </p>
          {% endfor %}
          <p class="mega__wrap__column__sublink">
            <a href="{{ collections.v-delivery.url }}">View more</a>
          </p>

          {% comment %}
            post-partum
          {% endcomment %}
          <h6 class="mega__wrap__column__link">
            <a class="" href="{{ collections.post-partum.url }}"><b>Post Partum</b></a>
          </h6>
          {% for product in collections['post-partum'].products limit: 2 %}
            <p class="mega__wrap__column__sublink">
              <a
                href="{{ product.url }}"
                class="[ js-mega-image ]"
                data-id="{{ product.title }}"
                data-image="{{ product.featured_image | image_url: width: 160 | image_url: height: 160 }}"
              >
                {{- product.title -}}
              </a>
            </p>
          {% endfor %}
          <p class="mega__wrap__column__sublink">
            <a href="{{ collections.post-partum.url }}">View more</a>
          </p>
        </div>

          <div class="mega__wrap__column mega__wrap__column--blocked animated [ js-in-view ]">
            <a href="/collections/kits-gifts" class="mega__wrap__column__block [ js-cursor-sale ]">
              {{ collections['kits-gifts'].image | image_url: width: 250 | image_url: height: 450 | image_tag }}
              <p>
                <span class="button"><b>Kits & Gifts</b></span>
              </p>
            </a>
          </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

{%- comment -%}
  <div class="mega__wrap__column__block__background" style="background-image:url({{ 'pot_blush.png' | asset_url }});">
  </div>
{%- endcomment -%}
