{% for link in linklists['main-menu'].links %}
  {% if link.title == 'Shop vitals' %}
    <div class="mega " id="menu" data-id="{{ link.title }}">
      <div class="mega__shadow"></div>
      <div class="mega__wrap">
        <div class="megaImage">
          <div class="megaImage__image"></div>
        </div>
        <div class="mega__wrap__column mega__wrap__column--bordered animated">

          {% comment %}
            Pregnancy
          {% endcomment %}
          <h6 class="mega__wrap__column__link">
            <a class="" href="{{ collections.pregnancy.url }}"><b>Pregnancy</b></a>
          </h6>
          {% for link in linklists['mega-menu-pregnancy'].links -%}
            {% if link.type == 'product_link' %}
              {% assign product = link.object %}
              <p class="mega__wrap__column__sublink">
                <a
                  href="{{ link.url }}"
                  class="[ js-mega-image ]"
                  data-id="{{ link.title }}"
                  data-image="{{ product.featured_image | image_url: width: 160 | image_url: height: 160 }}"
                >
                  {{ link.title }}
                </a>
              </p>
            {% else %}
              <p class="mega__wrap__column__sublink">
                <a
                  href="{{ link.url }}"
                  class="[ js-mega-image ]"
                  data-id="{{ link.title }}"
                >
                  {{ link.title }}
                </a>
              </p>
            {% endif %}
          {%- endfor %}
          <p class="mega__wrap__column__sublink">
            <a href="{{ collections.pregnancy.url }}">View more</a>
          </p>
          
          

          
          
        </div>

        <div class="mega__wrap__column mega__wrap__column--bordered animated">
          

          {% comment %}
            postpartum
          {% endcomment %}
          <h6 class="mega__wrap__column__link">
            <a class="" href="{{ collections.postpartum.url }}"><b>Postpartum</b></a>
          </h6>
          {% for link in linklists['mega-menu-postpartum'].links -%}
            {% if link.type == 'product_link' %}
              {% assign product = link.object %}
              <p class="mega__wrap__column__sublink">
                <a
                  href="{{ link.url }}"
                  class="[ js-mega-image ]"
                  data-id="{{ link.title }}"
                  data-image="{{ product.featured_image | image_url: width: 160 | image_url: height: 160 }}"
                >
                  {{ link.title }}
                </a>
              </p>
            {% else %}
              <p class="mega__wrap__column__sublink">
                <a
                  href="{{ link.url }}"
                  class="[ js-mega-image ]"
                  data-id="{{ link.title }}"
                >
                  {{ link.title }}
                </a>
              </p>
            {% endif %}
          {%- endfor %}
          <p class="mega__wrap__column__sublink">
            <a
              href="{{ collections.postpartum.url }}"
              >View more</a
            >
          </p>

          {% comment %}
            breast-care
          {% endcomment %}
          {% comment %}
            <h6 class="mega__wrap__column__link">
              <a class="" href="{{ collections.breast-care.url }}"><b>breast-care</b></a>
            </h6>
            <p class="mega__wrap__column__sublink">
              <a
                href="{{ product.url }}"
                class="[ js-mega-image ]"
                data-id="{{ product.title }}"
                data-image="{{ product.featured_image | image_url: width: 160 | image_url: height: 160 }}"
              >
                Coming Soon
              </a>
            </p>
            {% for product in collections['breast-care'].products limit: 2 %}
              <p class="mega__wrap__column__sublink">
                <a
                  href="{{ product.url }}"
                  class="[ js-mega-image ]"
                  data-id="{{ product.title }}"
                  data-image="{{ product.featured_image | image_url: width: 160 | image_url: height: 160 }}"
                >
                  {{- product.title -}}
                </a>
              </p>
            {% endfor %}
            <p class="mega__wrap__column__sublink">
              <a href="{{ collections.breast-care.url }}">View more</a>
            </p>
          {% endcomment %}
        </div>

        <div class="mega__wrap__column mega__wrap__column--blocked animated [ js-in-view ]">
          <a href="/collections/care-packs" class="mega__wrap__column__block [ js-cursor-sale ]">
            {{ collections['care-packs'].image | image_url: width: 250 | image_url: height: 450 | image_tag }}
            <p>
              <span class="button"><b>Care Packs</b></span>
            </p>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
