<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {% comment %}
      Meta data
    {% endcomment %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">

    {% comment %}
      Cannonical URL for SEO purposees & avoiding duplicate content
    {% endcomment %}
    <link rel="canonical" href="{{ canonical_url }}">

    {% comment %}
      Preconnects for speed improvements
    {% endcomment %}

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    <link rel="stylesheet" href="https://use.typekit.net/yrp5bcm.css">

    {% comment %}
      Page title - contextual to page type inclusions
    {% endcomment %}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% comment %}
      Page description if it is present
    {% endcomment %}

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% comment %}
      Meta tags for social shares & open graph
    {% endcomment %}
    {% render 'meta-tags' %}

    {% comment %}
      Favicon
    {% endcomment %}

    {% comment %}
      {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32 | image_url: height: 32 }}">
      {%- endif -%}
    {% endcomment %}
    <link rel="icon" type="image/png" href="{{ 'favicon-96x96.png' | asset_url }}" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="{{ 'favicon.svg' | asset_url }}">
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
    <meta name="apple-mobile-web-app-title" content="Vital Bits">
    <link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">

    {% comment %}
      Global constants for site wide CSS styles
    {% endcomment %}

    {% style %}
      :root {


        /* Widths */
        --thin-content-width: 580px;
        --slim-content-width: 768px;
        --inner-content-width: 900px;
        --content-width: 1400px;
        --outer-content-width: 1920px;

        /* Colours */
        --outer-content-width: 1920px;

        /* Colours */
        --white: #ffffff;
        --off-white: #F3F2F1;
        --grey-light: #BABABA;
        --black: #000000;
        --yellow-light: #ffebb0;
        --orange: #ec5b44;
        --pink-light: #fcdfe1;
        --pink: #703f6c;
        --purple-light: #DFDFEE;
        --blue-light: #E1EDF9;
        --blue-mid: #A5D1D9;
        --blue: #4289b4;
        --green-light: #A6D3D8;
        --green: #367b7f;

        /* Font Sizes */
        /* Font Sizes */
        --h1-size: {{ settings.h1_size }}px;
        --h2-size: {{ settings.h2_size }}px;
        --h3-size: {{ settings.h3_size }}px;
        --h4-size: {{ settings.h4_size }}px;
        --h5-size: {{ settings.h5_size }}px;
        --h6-size: {{ settings.h6_size }}px;
        --p-size: {{ settings.p_size }}px;

      }

      .sidecart-background{
        cursor: -webkit-image-set(url({{ 'close.png' | asset_url }}) 1x,url({{ 'close@2x.png' | asset_url }}) 2x) 15 15,auto;
        --p-size: {{ settings.p_size }}px;
      }

      .sidecart-background{
        cursor: -webkit-image-set(url({{ 'close.png' | asset_url }}) 1x,url({{ 'close@2x.png' | asset_url }}) 2x) 15 15,auto;
      }

      .quickview-background{
        cursor: -webkit-image-set(url({{ 'close.png' | asset_url }}) 1x,url({{ 'close@2x.png' | asset_url }}) 2x) 15 15,auto;
        --p-size: {{ settings.p_size }}px;
      }

      .quickview-background{
        cursor: -webkit-image-set(url({{ 'close.png' | asset_url }}) 1x,url({{ 'close@2x.png' | asset_url }}) 2x) 15 15,auto;
      }



      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        font-size: 10px;
      }
    {% endstyle %}

    {{ 'style.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'app.js' | asset_url }}" defer="defer"></script>
    <script>
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };
    </script>

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-T8CHCCN');
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body
    data-page-type="{{ request.page_type }}"
    data-page-id="{{ request.page_id }}"
    data-page-title="{{ page_title }}"
    data-collection="{{ collection.title | downcase | replace: " ", "-" }}"
    data-templatename="{{ template.name }}"
    data-templatesuffix="{{ template.suffix }}"
    {%- if page_title == 'Contact' -%}
      data-theme="pregnancy"
    {%- endif -%}
    {%- if page_title == 'Partner with us' -%}
      data-theme="pregnancy"
    {%- endif -%}

    {%- if request.page_type == 'policy' -%}
      data-theme="pregnancy"
    {%- endif -%}

    {%- if request.page_type == 'collection' -%}
      data-theme="{{ collection.title | downcase | replace: " ", "-" }}"
    {%- endif -%}
    {%- if request.page_type == 'list-collections' -%}
      data-theme="pregnancy"
    {%- endif -%}

    {%- if request.page_type == 'product' -%}
      data-theme="{{ product.collections[0].title | downcase | replace: " ", "-"}}"
    {%- endif -%}
  >
    {{ content_for_header }}

    {% comment %}
      Header
    {% endcomment %}

    {% render 'announcement-bar' %}
    {%- liquid
      section 'custom-cursors'
      section 'header'
    -%}

    {%- if request.page_type == 'policy' -%}
      <div class="banner banner--text banner--">
        <div class="banner-text" style="margin-bottom:0rem">
          <div class="banner-constraint">
            <h1 class="black">
              <b> {{ page_title | upcase }} </b>
            </h1>
          </div>
        </div>
      </div>
    {%- endif -%}

    {{ content_for_layout }}

    {% comment %} if product page  {% endcomment %}
    {% if request.page_type == 'product' && template.name == 'product' && template.suffix == '' %}
      <div class="related-products">
        <div class="related-products-wave1 [ js-wave ]">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 768">
            <path d="M0,32L48,74.7C96,117,192,203,288,245.3C384,288,480,288,576,266.7C672,245,768,203,864,176C960,149,1056,139,1152,149.3C1248,160,1344,192,1392,208L1440,224L1440,320" stroke-width="1" stroke="red" fill-opacity="0"/>
          </svg>
        </div>

        <div class="related-products-wave2 [ js-wave ]">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 768">
            <path d="M0,32L48,74.7C96,117,192,203,288,245.3C384,288,480,288,576,266.7C672,245,768,203,864,176C960,149,1056,139,1152,149.3C1248,160,1344,192,1392,208L1440,224L1440,320" stroke-width="3" stroke="red" fill-opacity="0"/>
          </svg>
        </div>

        {% comment %}
          Slider
        {% endcomment %}
        <div class="related-products__list">
          {% comment %}
            Title
          {% endcomment %}
          <div class="related-products__list__title">
            <h2 class="colour--white"><b>You may also like...</b></h2>
          </div>

          {% assign count = 0 %}
          {% assign shown_products = '' %}

          {% for related_product in product.collections.first.products %}
            {% unless shown_products contains related_product.id or related_product.id == product.id %}
              {% if count < 3 %}
                {% comment %}
                  Item
                {% endcomment %}
                <a
                  href="{{ related_product.url }}"
                  class="related-products__list__item related-products__list__item--product"
                >
                  <div class="related-products__list__item__image">
                    {% if related_product.featured_media %}
                      {{
                        related_product.featured_media
                        | image_url: width: 800, height: 800, crop: 'center'
                        | image_tag
                      }}
                    {% else %}
                      <img
                        src="{{ 'placeholder.jpeg' | asset_url }}"
                        alt="placeholder image"
                        width="400"
                        height="400"
                        loading="lazy"
                      >
                    {% endif %}
                  </div>
                  <div class="related-products__list__item__title">
                    <h6>
                      <b>{{ related_product.title | escape }}</b>
                    </h6>
                    <h6>
                      <b>{{ related_product.price | money }}</b>
                    </h6>
                  </div>
                  <div class="related-products__list__item__description">
                    <p>{{ related_product.metafields.custom.short_description }}</p>
                  </div>
                </a>
                {% assign shown_products = shown_products | append: related_product.id | append: ',' %}
                {% assign count = count | plus: 1 %}
              {% endif %}
            {% endunless %}
          {% endfor %}

          {% for related_product in collections.all.products %}
            {% unless shown_products contains related_product.id or related_product.id == product.id %}
              {% if count < 3 %}
                {% comment %}
                  Item
                {% endcomment %}
                <a
                  href="{{ related_product.url }}"
                  class="related-products__list__item related-products__list__item--product"
                >
                  <div class="related-products__list__item__image">
                    {% if related_product.featured_media %}
                      {{
                        related_product.featured_media
                        | image_url: width: 800, height: 800, crop: 'center'
                        | image_tag
                      }}
                    {% else %}
                      <img
                        src="{{ 'placeholder.jpeg' | asset_url }}"
                        alt="placeholder image"
                        width="400"
                        height="400"
                        loading="lazy"
                      >
                    {% endif %}
                  </div>
                  <div class="related-products__list__item__title">
                    <h6>
                      <b>{{ related_product.title | escape }}</b>
                    </h6>
                    <h6>
                      <b>{{ related_product.price | money }}</b>
                    </h6>
                  </div>
                  <div class="related-products__list__item__description">
                    <p>{{ related_product.metafields.custom.short_description }}</p>
                  </div>
                </a>
                {% assign shown_products = shown_products | append: related_product.id | append: ',' %}
                {% assign count = count | plus: 1 %}
              {% endif %}
            {% endunless %}
          {% endfor %}

          <div class="marquee-element">
            <div class="marquee-element__track">
              <span><b>Through life's most vital moments.</b></span>
              <span><b>Through life's most vital moments.</b></span>
              <span aria-hidden="true"><b>Through life's most vital moments.</b></span>
              <span aria-hidden="true"><b>Through life's most vital moments.</b></span>
            </div>
          </div>
        </div>
      </div>

      <div class="reviews">
        <div class="reviews__wrap">
          <!-- Start of Judge.me code -->
          <div style="clear:both"></div>
          <div id="judgeme_product_reviews" class="jdgm-widget jdgm-review-widget" data-id="{{ product.id }}">
            {{ product.metafields.judgeme.widget }}
          </div>
          <!-- End of Judge.me code -->
        </div>
      </div>
    {% endif %}

    {% section 'instagram-block' %}

    {% comment %}
      Quick view
    {% endcomment %}
    {% section 'quick-view' %}

    {% comment %}
      Side cart
    {% endcomment %}
    {% section 'sidecart' %}

    {% section 'footer' %}

    <script src="https://js.afterpay.com/afterpay-1.x.js" async></script>
  </body>
</html>
