<div class="banner banner--{{ section.settings.height }}">
  <div class="banner-image">
    <picture>
      <!-- Larger screen image -->
      <source srcset="{{ section.settings.image | image_url: width: 2560 | image_url: height: 1440  }}" media="(min-width: 1440px)">

      <!-- Large screen image -->
      <source srcset="{{ section.settings.image | image_url: width: 1920 | image_url: height: 967  }}" media="(min-width: 1280px)">

      <!-- Large screen image -->
      <source srcset="{{ section.settings.image | image_url: width: 1640 | image_url: height: 760  }}" media="(min-width: 1024px)">
      
      <!-- Medium screen image -->
      <source srcset="{{ section.settings.image | image_url: width: 1640 | image_url: height: 760  }}" media="(min-width: 768px)">
      
      <!-- Small screen image -->
      <source srcset="{{ section.settings.image | image_url: width: 1640 | image_url: height: 760  }}" media="(max-width: 767px)">
      
      <!-- Fallback image -->
      <img src="{{ section.settings.image | image_url: width: 1640 | image_url: height: 760  }}" width="1640" height="760" alt="Responsive Image">
    </picture>

  </div>

  <div class="banner-text">
    <div class="banner-constraint">
      <h1 class="black">
        <b>
          {{ section.settings.heading }}
        </b>
      </h1>
      {% if section.settings.link_link != blank %}
        <p>
          <a href="{{ section.settings.link_link }}" class="button">{{ section.settings.link_label }}</a>
        </p>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "banner-block",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "default": "<p>Through lifes most <br>vital moments<\/p>",
      "label": "Heading"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "link_label",
      "type": "text",
      "label": "Button label"
    },
    {
      "id": "link_link",
      "type": "url",
      "label": "Button Link"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Banner height",
      "options": [
        {
          "value": "slim",
          "label": "Slim"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "tall",
          "label": "Tall"
        }
      ],
      "default": "normal"
    }
  ],
  "presets": [
    {
      "name": "Banner"
    }
  ]
}
{% endschema %}
