<div
  class="banner banner--{{ section.settings.height }} {% if section.settings.show_button == false %}banner--no-button{% endif %}">
  <div class="banner-image">
    <picture>
      <!-- Larger screen image -->
      <source
        srcset="{{ section.settings.image | image_url: width: 1920   }}"
        media="(min-width: 1280px)"
      >

      <!-- Large screen image -->
      <source
        srcset="{{ section.settings.image | image_url: width: 1920   }}"
        media="(min-width: 1280px)"
      >

      <!-- Large screen image -->
      <source
        srcset="{{ section.settings.image | image_url: width: 1640 }}"
        media="(min-width: 1024px)"
      >

      <!-- Medium screen image -->
      <source
        srcset="{{ section.settings.image | image_url: width: 1640  }}"
        media="(min-width: 768px)"
      >

        {% if section.settings.mobile_image != blank %}
      <!-- Small screen image -->
      <source
        srcset="{{ section.settings.mobile_image | image_url: width: 767   }}"
        media="(max-width: 767px)"
      > 
      {% else %}
      <!-- Small screen image -->
      <source
        srcset="{{ section.settings.image | image_url: width: 1640   }}"
        media="(max-width: 767px)"
      >
      {% endif %}     

      <!-- Fallback image -->
      <img
        src="{{ section.settings.image | image_url: width: 1640  }}"
        width="1640"
        height="760"
        alt="Responsive Image"
      >
    </picture>
  </div>

  <div
    class="banner-overlay"
    style="background-color: {{ section.settings.overlay_color }}; opacity: {{ section.settings.overlay_opacity }}"
  ></div>

  <div class="banner-text">
    <div class="banner-constrasdint">
      <h1 class="white text-center">
        <b>
        &nbsp;
        </b>
      </h1>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "black-friday-block",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
     {
      "id": "mobile_image",
      "type": "image_picker",
      "label": "Mobile Image"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Banner height",
      "options": [
        {
          "value": "slim",
          "label": "Slim"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "tall",
          "label": "Tall"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.3
    }
  ],
  "presets": [
    {
      "name": "BlackFriday"
    }
  ]
}
{% endschema %}
