<div
  class="collections"
  data-theme="{%- for block in section.blocks -%}{% if forloop.first %}{{ block.settings.Collection.title | downcase | replace: " ", "-" }}{% endif %}{%- endfor -%}"
>
  {% comment %}
    Grid
  {% endcomment %}
  <div class="collections__grid collections__grid--{{ section.blocks.size }}">
    <div class="collections__slide">
      <div class="collections__indicator [ js-indicator ]"></div>
      {%- for block in section.blocks -%}
        {% assign count = count | plus: 1 %}
        <div
          class="collections__item [ js-collection-slider-trigger ] {% if forloop.first %}active{% endif %}"
          data-id="{{ count }}"
          data-handle="{{ block.settings.Collection.handle }}"
          data-title="{{ block.settings.Collection.title }}"
          data-url="{{ block.settings.Collection.url }}"
          data-copy="{{ block.settings.copy }}"
        >
          <div class="collections__item__image">
            {% if block.settings.Collection.title == 'Pregnancy' %}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="200" height="200" fill="none">
                <path fill="#000" d="M154.47 67.486c-.6-.872-1.256-1.775-1.958-2.738-4.23-5.8-10.023-13.741-13.784-30.597a1.478 1.478 0 0 0-1.762-1.116 1.47 1.47 0 0 0-1.12 1.756c3.897 17.454 9.897 25.68 14.281 31.687.682.935 1.324 1.816 1.904 2.657A52.579 52.579 0 0 1 160.4 90.38c-2.317 2.957-12.104 5.71-18.787 7 0-1.44-.253-4.785-2.385-6.969-1.37-1.407-3.195-2.084-5.489-1.976-.853-.068-4.738-.145-9.653 3.412-.063.04-6.345 3.838-12.863 4.138-2.996.34-5.04.863-6.1 1.557-.995-1.15-2.51-1.886-4.207-1.886s-3.136.7-4.128 1.801c-1.1-.651-3.112-1.147-6.069-1.478-6.373-.292-12.655-4.067-12.666-4.067-5.546-4.007-9.742-3.486-9.713-3.475-2.519-.036-4.594.788-6.06 2.365-2.044 2.2-2.295 5.276-2.303 6.579-5.631-1.042-16.57-3.577-19.762-6.607 1.507-6.87 4.366-13.863 8.562-20.855 1.182-1.957 2.382-3.854 3.57-5.738 5.404-8.572 10.51-16.669 13.204-27.81a1.472 1.472 0 0 0-1.089-1.775 1.484 1.484 0 0 0-1.782 1.084C60.1 46.354 55.12 54.252 49.846 62.615c-1.194 1.898-2.402 3.812-3.599 5.786-10.859 18.085-13.138 36.255-6.595 52.545 6.635 16.516 22.533 30.129 41.661 35.776-.315 4.342-.449 7.279-.472 7.743A1.468 1.468 0 0 0 82.314 166c.463 0 .912-.218 1.194-.606l2.615-3.594 2.373 2.787a1.478 1.478 0 0 0 2.599-1.034 79.065 79.065 0 0 1-.117-4.534c3.698.643 7.127.969 10.492.969 3.366 0 6.331-.292 9.585-.873 0 1.507-.034 2.988-.116 4.438a1.465 1.465 0 0 0 .926 1.447 1.471 1.471 0 0 0 1.672-.413l2.373-2.787 2.616 3.594a1.478 1.478 0 0 0 1.685.524 1.47 1.47 0 0 0 .984-1.461c-.023-.468-.179-3.396-.518-7.729 18.355-5.729 33.156-19.824 39.72-37.906 6.379-17.573 4.218-36.28-5.93-51.336h.003Zm6.365 26.417c.094 1.037.153 2.073.187 3.118-2.254 2.988-12.487 5.777-19.426 7.069v-3.71c3.528-.66 14.119-2.874 19.242-6.477h-.003Zm-35.112.391c3.744-2.707 6.629-2.937 7.502-2.937.176 0 .273.009.275.009l.143.017.139-.006c.6-.034 1.148.011 1.634.13-.48 1.153-2.575 3.093-8.988 4.231-.04.006-2.337.36-4.963.694 2.442-1.036 4.079-2.028 4.261-2.14l-.003.002Zm-9.628 5.639c3.741-.204 10.495-1.244 10.813-1.295 5.597-.99 9.225-2.73 10.78-5.165.028-.043.054-.082.079-.125 1.06 1.889.881 4.483.876 4.608v6.134c0 3.143-.828 5.468-2.456 6.91-2.394 2.115-5.856 1.733-6.072 1.713-11.612 0-21.345-6.975-24.481-9.495a4.8 4.8 0 0 0 .694-2.481c0-.099-.008-.198-.017-.298l9.784-.504v-.002Zm-15.182-1.334c1.359 0 2.464.957 2.464 2.138s-1.105 2.141-2.464 2.141-2.462-.96-2.462-2.141 1.106-2.138 2.462-2.138Zm-32.397-7.23c.04 0 3.297-.326 7.891 2.99.136.08 1.737 1.048 4.142 2.073-2.613-.334-4.884-.685-4.904-.688-6.336-1.124-8.474-3.019-8.997-4.177a8.194 8.194 0 0 1 1.868-.198Zm-4.36 1.778c.056.108.122.215.193.326 1.555 2.435 5.185 4.177 10.813 5.17.287.046 7.041 1.086 10.793 1.29l9.546.758v.043c0 1 .312 1.931.847 2.716-3.056 2.413-12.772 9.26-24.603 9.272-.037 0-3.5.388-5.893-1.725-1.628-1.439-2.456-3.764-2.458-7.015l-.455-6.205c0-.03-.185-2.77 1.22-4.63h-.004Zm-3.986 7.261.273 3.685c0 .082.003.161.006.243-7.516-1.291-18.574-4.061-21.26-7.029.102-1.099.242-2.2.415-3.305 5.424 3.529 16.976 5.775 20.566 6.409v-.003ZM42.39 119.85c-2.442-6.078-3.57-12.447-3.411-18.989 5.807 3.665 18.078 5.902 21.762 6.508.48 2.458 1.541 4.421 3.178 5.854 2.476 2.172 5.578 2.478 7.087 2.478.571 0 .915-.042.918-.045 6.663 0 12.635-1.983 17.294-4.254-4.465 10.218-6.682 29.988-7.677 42.318-18.008-5.499-32.915-18.348-39.148-33.87h-.003Zm44.768 38.614a1.425 1.425 0 0 0-1.183-.518 1.475 1.475 0 0 0-1.14.606l-.773 1.062c.077-1.178.165-2.438.264-3.755.012-.074.018-.145.018-.218 1.239-16.097 4.312-41.231 10.028-47.122.017-.017.026-.034.04-.051a48.254 48.254 0 0 0 3.022-2.118c-2.428 7.802-9.5 32.358-9.415 53.134l-.864-1.02h.003Zm3.877-2.427c.705-20.923 8.036-45.08 9.67-50.228.069 0 .137.008.208.008.142 0 .279-.008.418-.019 1.631 5.137 8.991 29.376 9.676 50.333-6.646 1.234-12.752 1.206-19.972-.094Zm26.166 2.515a1.474 1.474 0 0 0-1.14-.606 1.443 1.443 0 0 0-1.182.518l-.867 1.02c.088-20.988-7.132-45.836-9.486-53.369a47.85 47.85 0 0 0 2.945 2.112c6.117 6.721 9.358 35.76 10.466 51.342l-.739-1.014.003-.003Zm40.422-40.733c-6.177 17.012-20.004 30.322-37.19 35.904-1.066-12.333-3.386-32.14-7.834-42.514 4.673 2.362 10.665 4.435 17.303 4.435h.025c.054.006.449.054 1.066.054 1.598 0 4.668-.317 7.124-2.469 1.688-1.481 2.766-3.526 3.223-6.1 3.255-.581 14.162-2.719 19.66-6.265-.231 5.659-1.348 11.368-3.377 16.958v-.003Z"/>
              </svg>
            {% elsif block.settings.Collection.title == 'Postpartum' %}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="200" height="200" fill="none">
                <g fill="#000" clip-path="url(#a)"><path d="M98.321 106.124c-.588-1.973-1.87-3.728-3.495-5.001-1.908-1.493-4.255-2.36-6.645-2.749-.958-.156-1.943-.238-2.902-.08-2.793.465-4.889 2.911-5.938 5.54a14.284 14.284 0 0 0-.962 6.485c.388 4.519 2.443 8.912 5.498 12.266 2.076 2.276 14.441 14.618 14.441 14.618s12.066-12.031 14.442-14.618c3.066-3.34 5.112-7.747 5.497-12.266a14.282 14.282 0 0 0-.961-6.485c-1.05-2.629-3.146-5.075-5.939-5.54-.958-.158-1.943-.076-2.902.08-2.39.391-4.736 1.258-6.644 2.749-1.629 1.273-2.91 3.028-3.496 5.001M56.068 154.493a1.529 1.529 0 0 1-1.297-.715c-10.531-16.734-23.638-37.558-18.04-59.702 2.74-10.484 7.106-18.343 11.328-25.94 3.59-6.456 7.3-13.133 10.178-21.597a1.528 1.528 0 0 1 2.893.982c-2.97 8.723-6.744 15.52-10.401 22.097-4.322 7.773-8.403 15.115-11.043 25.216-5.274 20.863 7.447 41.075 17.67 57.313a1.53 1.53 0 0 1-1.291 2.343l.003.003ZM143.932 154.493a1.529 1.529 0 0 1-1.29-2.343c10.222-16.241 22.941-36.453 17.666-57.324-2.637-10.087-6.718-17.432-11.042-25.208-3.655-6.57-7.433-13.368-10.402-22.091a1.527 1.527 0 1 1 2.893-.982c2.881 8.461 6.591 15.138 10.178 21.594 4.225 7.597 8.594 15.456 11.328 25.928 5.601 22.156-7.506 42.98-18.037 59.714a1.53 1.53 0 0 1-1.297.715l.003-.003ZM98.277 82.48c-1.393 0-2.705-.696-3.675-1.981a4.392 4.392 0 0 1-.33-3.945c.51-1.288 1.51-2.229 2.744-2.585a1.52 1.52 0 0 1 1.84.903 1.524 1.524 0 0 1 2.355-.259c1.359 1.344 1.841 3.052 1.323 4.692-.502 1.603-1.89 2.826-3.528 3.108a4.123 4.123 0 0 1-.729.065v.003Zm.441-6.218c-.19.3-.488.535-.858.641-.312.091-.591.38-.747.774-.159.4-.153.829.018 1.12.208.261.714.72 1.352.611.511-.088.979-.505 1.138-1.014.209-.665-.188-1.244-.559-1.608a1.512 1.512 0 0 1-.347-.52l.003-.004Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h200v200H0z"/></clipPath></defs>
              </svg>
            {% elsif block.settings.Collection.title == 'V-Delivery' %}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="200" height="200" fill="none">
                <path fill="#000" d="M100.717 175c-.073 0-.15 0-.224-.008-5.91-.325-11.5-13.514-20.37-39.374-1.057-3.076-1.96-5.716-2.655-7.579-6.934-18.564-10.15-33.265-4.764-49.162 6.783-20.03 19.323-53.666 27.052-53.874.996-.042 2.853.345 3.984 3.17.031.08.058.16.081.243 2.355 9.212 8.228 18.61 13.907 27.696 3.498 5.599 6.799 10.886 9.382 16.19 7.509 15.408 6.312 35.396-3.189 53.468-7.761 14.757-12.78 27.045-18.513 45.344-1.506 3.204-3.332 3.886-4.687 3.886h-.004ZM99.69 29.003c-3.837 1.568-13.91 23.73-23.191 51.12-4.448 13.128-3.209 25.314 4.73 46.567.706 1.887 1.62 4.561 2.69 7.678 3.104 9.045 12.548 36.579 16.794 36.7-.007 0 .394-.185.954-1.36 5.71-18.291 10.803-30.757 18.682-45.741 8.934-16.985 10.104-35.662 3.139-49.965-2.494-5.117-5.745-10.322-9.188-15.83-5.807-9.298-11.814-18.908-14.343-28.658-.108-.25-.201-.413-.27-.511h.003ZM84.044 170a1.95 1.95 0 0 1-1.775-1.145c-6.12-13.421-19.534-52.388-21.25-64.625a1.958 1.958 0 0 1 1.663-2.212 1.977 1.977 0 0 1 2.208 1.665c1.678 11.97 14.896 50.304 20.933 63.544a1.96 1.96 0 0 1-.963 2.592 1.946 1.946 0 0 1-.812.177l-.004.004ZM138.093 83.992c-.816 0-1.567-.547-1.824-1.404a114.963 114.963 0 0 0-12.375-27.654c-4.847-7.518-10.065-16.34-11.845-24.483-.236-1.077.404-2.153 1.434-2.4 1.008-.247 2.052.424 2.287 1.505 1.641 7.502 6.635 15.923 11.305 23.171a118.908 118.908 0 0 1 12.838 28.67c.313 1.056-.246 2.182-1.254 2.51a1.85 1.85 0 0 1-.57.093l.004-.008Z"/><path fill="#000" d="M106.352 121c-1.003 0-1.907-.166-2.63-.331-2.81-.655-4.856-2.104-6.102-4.304-1.834 1.21-3.637 1.827-5.525 1.923-3.79.212-6.567-1.337-8.228-4.407a12.37 12.37 0 0 1-.523-1.06c-1.395-3.259-1.234-6.291.454-8.876a16.739 16.739 0 0 1-2.357-1.387c-1.811-1.286-3.003-2.643-3.741-4.272-1.669-3.68-.25-8.722 3.156-11.238 1.65-1.217 3.576-1.841 5.868-1.903a13.201 13.201 0 0 1 .127-3.49c.603-3.475 2.576-5.844 5.71-6.854.641-.208 1.295-.377 1.945-.547.308-.08.592-.138.857-.18L96.651 74c.189.012.323.027.458.05l.112.016c.219.023.442.057.66.1l.812.208a9.33 9.33 0 0 1 1.761.763c1.876 1.059 3.164 2.592 4.045 3.883.231-.158.461-.308.7-.443 3.872-2.204 7.736-2.088 11.192.32 2.111 1.467 3.315 3.259 3.684 5.466.3 1.807.123 3.633-.523 5.432-.169.474-.358.936-.554 1.402.392.158.781.328 1.15.524 2.426 1.299 3.972 3.152 4.591 5.51l.261 1.325-.146 2.581c-.373 2.361-1.48 4.349-3.384 6.202-1.714 1.676-3.656 2.535-5.779 2.562.062 1.002.004 1.93-.165 2.843-.654 3.541-2.737 6.172-6.025 7.613a7.822 7.822 0 0 1-3.149.631V121Zm-6.72-8.568c.295.586.43.971.43.971.138.397.215.624.319.847.742 1.615 2.049 2.597 4.114 3.079 1.538.354 2.665.323 3.641-.104 2.257-.987 3.576-2.651 4.026-5.093.196-1.056.177-2.158-.062-3.364l-.111-.824s-.25-1.283.784-1.857c.773-.431 2.273.37 2.273.37 1.353.62 2.787-.343 4.037-1.56 1.491-1.457 2.587-2.766 2.587-5.74s-1.542-3.549-3.137-4.404c-.423-.227-.877-.393-1.33-.566l-.75-.293c-.6-.223-1.63-.87-1.5-1.764.131-.894.6-1.568.6-1.568.277-.636.55-1.272.784-1.915.454-1.264.573-2.477.37-3.71-.212-1.263-.931-2.284-2.261-3.213-2.392-1.668-4.787-1.73-7.544-.158-.292.166-.577.37-.861.566-.269.19-1.169 1.183-2.365.933-.769-.162-.992-.455-1.261-.925l-.277-.474c-1.076-1.745-2.111-2.831-3.349-3.528-.63-.355-1.265-.575-1.876-.651l-.796-.047a3.3 3.3 0 0 0-.6.1c-.73.19-1.322.343-1.9.528-1.922.62-2.994 1.95-3.387 4.18-.207 1.19-.173 2.481.112 4.06 0 0 .115.86-.415 1.572 0 0-.53.717-1.48.698H87.3c-1.865-.02-3.219.362-4.403 1.233-2.103 1.552-3.068 4.85-2.068 7.057.476 1.052 1.303 1.973 2.603 2.897.934.663 2.022 1.229 3.322 1.734.723.289 1.98.963 1.53 2.169-.28.751-.558.87-.558.87l-.223.251c-1.834 1.888-2.153 4.018-1.003 6.695.115.27.25.524.38.775 1.03 1.903 2.646 2.754 5.045 2.616 1.673-.085 3.545-.494 4.964-2.212 1.065-1.286 2.445-.809 2.741-.223v-.008Zm-2.742 2.273s0 .008.004.012c0 0 0-.008-.004-.012Zm20.643-24.066.031.011s-.019-.004-.031-.011Zm-30.57-3.737s0 .015.003.023c0-.008 0-.015-.004-.023Zm14.033 17.606c-3.86 0-6.998-3.171-6.998-7.066 0-1.86.77-3.69 2.115-5.016 1.323-1.306 3.05-2.022 4.864-2.022h.1a6.91 6.91 0 0 1 4.929 2.138c1.319 1.375 2.049 3.224 2.003 5.077-.096 3.864-3.176 6.889-7.013 6.889Z"/>
              </svg>
            {% elsif block.settings.Collection.title == 'C-Section Delivery' %}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="200" height="200" fill="none">
                <path fill="#000" d="M101.372 170.23c-.02-.39-2.255-38.585-19.085-46.062-1.089-.481-1.582-1.766-1.106-2.863.472-1.101 1.751-1.608 2.832-1.118 11.49 5.107 16.946 21.279 19.495 33.838 2.542-12.559 7.985-28.735 19.479-33.838 1.077-.49 2.356.017 2.832 1.118a2.182 2.182 0 0 1-1.106 2.863c-16.842 7.485-19.032 45.677-19.048 46.062 0 0-.195 3.885-2.165 3.767-1.97-.117-2.132-3.767-2.132-3.767h.004ZM173.885 56.812c-.391-1.138-1.621-1.753-2.746-1.353-12.671 4.442-27.07 7.936-40.626 9.874-.964-2.38-2.754-4.294-5.343-5.698a14.545 14.545 0 0 0-1.45-.67c.246-.594.487-1.188.698-1.79.815-2.298 1.039-4.632.661-6.938-.461-2.82-1.982-5.103-4.645-6.979-4.358-3.076-9.231-3.224-14.112-.409-.299.173-.59.363-.885.565-1.109-1.648-2.734-3.607-5.102-4.96a11.64 11.64 0 0 0-2.222-.974l-1.026-.265a9.725 9.725 0 0 0-.831-.13l-.137-.022A6.97 6.97 0 0 0 95.54 37l-1.624.093c-.337.05-.694.126-1.084.227a41.74 41.74 0 0 0-2.456.7c-3.946 1.29-6.435 4.315-7.2 8.753-.24 1.403-.294 2.857-.157 4.455-2.891.08-5.322.876-7.399 2.427-3.618 2.706-5.446 7.691-4.682 12.003-13.676-1.985-29.151-5.64-41.091-9.731a2.143 2.143 0 0 0-2.733 1.37c-.383 1.146.224 2.385 1.35 2.773 12.978 4.45 30.04 8.386 44.601 10.3.848 1.095 1.928 2.107 3.286 3.084a20.88 20.88 0 0 0 2.97 1.77c-2.127 3.3-2.33 7.177-.569 11.337.192.464.42.91.657 1.353 2.094 3.92 5.596 5.896 10.377 5.626 2.377-.122 4.653-.915 6.967-2.457 1.567 2.807 4.151 4.657 7.694 5.491.91.211 2.053.426 3.32.426s2.6-.202 3.971-.81c4.142-1.837 6.772-5.195 7.599-9.718.216-1.171.286-2.351.207-3.632 2.68-.038 5.127-1.134 7.291-3.275 2.397-2.368 3.797-4.91 4.267-7.923l.112-2.002c13.793-1.976 28.437-5.537 41.332-10.055 1.126-.392 1.724-1.644 1.334-2.786l.004.013Zm-50.056 19.626c-1.575 1.555-3.386 2.786-5.094 1.993 0 0-1.89-1.02-2.862-.471-1.305.737-.989 2.372-.989 2.372l.137 1.054c.299 1.538.324 2.946.079 4.294-.569 3.115-2.231 5.243-5.077 6.503-1.229.548-2.654.59-4.59.135-2.605-.615-4.254-1.867-5.189-3.932-.129-.282-.224-.573-.403-1.08 0 0-.166-.492-.544-1.242-.374-.75-2.119-1.357-3.46.282-1.791 2.196-4.155 2.714-6.261 2.824-3.029.177-5.06-.906-6.36-3.338-.171-.316-.337-.645-.483-.99-1.445-3.418-1.047-6.137 1.267-8.547l.279-.32s.349-.152.702-1.113c.565-1.538-1.022-2.398-1.932-2.769-1.64-.645-3.016-1.365-4.192-2.213-1.636-1.18-2.683-2.351-3.282-3.695-1.263-2.82-.041-7.03 2.61-9.015 1.495-1.113 3.202-1.597 5.554-1.576h1.445c1.197.025 1.866-.885 1.866-.885.669-.915.527-2.006.527-2.006-.357-2.019-.403-3.667-.14-5.184.49-2.849 1.848-4.547 4.27-5.34.731-.236 1.475-.43 2.397-.674.237-.063.474-.101.76-.126l1.001.059c.773.1 1.57.379 2.368.83 1.566.893 2.867 2.28 4.225 4.51l.349.606c.341.603.623.974 1.591 1.18 1.508.32 2.643-.948 2.979-1.188.357-.253.715-.514 1.084-.725 3.473-2.006 6.498-1.93 9.51.202 1.678 1.184 2.584 2.487 2.854 4.1.257 1.577.104 3.128-.465 4.738a39.61 39.61 0 0 1-.989 2.444s-.59.864-.756 2.006c-.166 1.142 1.134 1.968 1.89 2.255l.947.375c.573.219 1.147.43 1.679.72 2.01 1.096 3.955 1.808 3.955 5.623 0 3.813-1.38 5.47-3.262 7.328l.005-.004Z"/><path fill="#000" d="M101.092 58h-.131a9.14 9.14 0 0 0-6.245 2.438C92.99 62.038 92 64.241 92 66.484 92 71.182 96.032 75 100.99 75c4.959 0 8.885-3.647 9.007-8.301.06-2.236-.88-4.463-2.572-6.122-1.658-1.626-3.909-2.541-6.333-2.577Z"/>
              </svg>
            {% elsif block.settings.Collection.title == 'Breast Care' %}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="200" height="200" fill="none">
                <g fill="#000" clip-path="url(#a)"><path d="M56.053 116.296c-2.445 0-4.374-1.947-4.374-4.417 0-2.469 2.015-4.43 4.42-4.392 2.68.04 4.39 2.335 4.336 4.503-.059 2.383-1.966 4.306-4.385 4.306h.003Z"/><path d="M56.572 126.171c-7.723 0-14.897-2.187-20.793-6.434-6.02-5.302-8.469-14.698-6.354-24.024 1.88-8.294 6.738-15.71 11.023-22.252a1.396 1.396 0 1 1 2.335 1.533c-4.36 6.655-8.869 13.536-10.636 21.337-1.894 8.347.215 16.678 5.37 21.227 7.432 5.342 17.31 7.104 27.687 4.88 12.361-2.653 23.67-10.586 29.518-20.7a1.397 1.397 0 0 1 2.418 1.396c-6.227 10.779-18.24 19.22-31.35 22.031a43.904 43.904 0 0 1-9.226 1.004l.008.002ZM144.403 126.169c-3.002 0-6.082-.331-9.202-1.004-13.108-2.811-25.119-11.255-31.349-22.031a1.395 1.395 0 0 1 .511-1.907 1.395 1.395 0 0 1 1.907.511c5.845 10.114 17.154 18.047 29.515 20.7 10.391 2.23 20.258.462 27.798-4.966 5.047-4.466 7.156-12.796 5.265-21.14-1.773-7.81-6.279-14.688-10.637-21.34a1.397 1.397 0 0 1 2.335-1.533c4.285 6.541 9.143 13.952 11.024 22.25 2.114 9.33-.336 18.726-6.249 23.942-5.98 4.312-13.184 6.518-20.92 6.518h.002Z"/><path d="M141.041 108.275c-.18-.608-.576-1.149-1.076-1.542-.589-.46-1.31-.726-2.047-.847-.296-.048-.6-.073-.893-.024-.861.142-1.507.896-1.829 1.708a4.375 4.375 0 0 0-.296 1.999c.118 1.393.753 2.746 1.694 3.779.641.702 4.45 4.503 4.45 4.503s3.717-3.707 4.449-4.503c.944-1.03 1.574-2.386 1.695-3.779a4.375 4.375 0 0 0-.296-1.999c-.323-.81-.969-1.563-1.829-1.708a2.768 2.768 0 0 0-.894.024c-.737.121-1.458.387-2.047.847-.5.393-.895.934-1.076 1.542"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h200v200H0z"/></clipPath></defs>
              </svg>
            {% elsif block.settings.Collection.title == 'Care Packs' %}
              <svg
                width="80px"
                height="80px"
                viewBox="0 0 80 80"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <title>Frame</title>
                <defs>
                    <path d="M0,0 L80,0 L80,80 L0,80 L0,0 Z" id="path-1"></path>
                </defs>
                <g id="Frame" stroke="none" fill="none" xlink:href="#path-1" fill-rule="nonzero">
                    <g id="Graphic" transform="translate(14, 14)" fill="#000000">
                        <path d="M4.3331277,23.753695 L4.1317448,23.6762112 C4.07022646,23.1555029 4.09933043,22.6796906 4.0222256,20.8543446 C3.9398793,18.8951501 4.09822696,17.6309326 4.30195473,16.1290887 C4.303472,16.1170605 4.29643739,16.1011162 4.3051272,16.0930041 C4.36981801,16.0334227 4.43823303,15.9777574 4.50664804,15.9225117 C4.52761394,15.8395732 4.54871776,15.7559354 4.60154629,15.6925777 C4.61975351,15.6707591 6.62792731,14.6861268 7.28311142,14.4009471 C7.74380931,14.1999647 8.76810346,13.7687684 9.94964181,13.2526757 C9.70012011,12.8460953 9.52935844,12.369164 9.45501228,11.8119517 C9.19693871,9.87233796 11.7320185,1.4768093 15.1922182,0.261263967 C15.2046322,0.256788365 17.0009402,-0.332592376 18.6292451,0.273851595 C21.1686008,1.21946222 22.1717911,4.44623087 25.2721224,8.73497578 C25.2919848,8.76168953 25.3097782,8.78672492 25.3275716,8.81092114 C26.2220704,8.57972837 26.9510489,8.59665173 27.5334041,8.8021098 C28.3976954,7.48320606 31.3003679,3.3327852 33.8169646,1.71443575 C34.0535206,1.56254503 35.7443094,0.272173245 38.5380144,2.09528145 C41.5670341,4.07293776 44.0219745,8.45203387 43.4254121,11.4803376 C43.3306518,11.9583877 43.0596124,12.4238503 42.6447085,12.8592423 C43.1495451,13.0318327 43.9361798,13.3203691 44.5025348,13.6181365 C45.2639277,14.0181434 45.6609003,14.3479392 47.3468614,15.4679584 C47.3549995,15.4735529 47.368379,15.4735529 47.3716895,15.4822244 C47.3845632,15.5241832 47.3965635,15.5664217 47.4076901,15.6089399 C47.5170714,15.6521574 47.6264526,15.6980323 47.7380408,15.7356553 C47.7170749,15.7860059 47.6980401,15.836776 47.6798329,15.8881055 C47.7261785,15.9279663 47.7681103,15.9706244 47.797904,16.0230729 C47.7988695,16.0253107 48.0139078,18.3663298 47.9992869,19.8070539 C47.9965282,20.0933525 47.990735,20.6958803 47.8613534,23.3795627 C47.8544567,23.5149496 47.8996989,23.6634837 47.8403875,23.7848843 C47.7665931,23.9362156 47.5910037,24.0176156 47.4923813,24.1514641 C47.5036918,24.2001362 47.5192783,24.2497874 47.5420373,24.2995785 C47.1282368,24.5 46.7530577,24.6776269 46.408224,24.8366506 C46.45788,25.2299441 46.557468,26.0275802 46.6221588,26.6264716 C47.4195524,33.9844999 46.6194002,34.8531861 46.5494679,43.2705333 C46.5494679,43.2787852 46.5489161,43.2870371 46.5489161,43.2945897 C46.557468,43.2951492 46.5672613,43.2962681 46.5765028,43.2968275 C46.5149845,43.4694179 46.5342952,43.6645261 46.4730527,43.8371165 C46.445466,43.9152997 42.3953247,46.4175803 39.7184493,47.6532659 C38.0342813,48.4313212 37.5304102,48.3766349 35.2523006,49.0306322 C35.2508293,49.0335227 35.24945,49.0364598 35.2481626,49.0394435 L35.2448522,49.0334294 C34.4873214,49.2507758 33.534063,49.5468648 32.2776268,49.9775016 C30.3443509,50.6401703 27.5636116,51.6524953 27.1551905,51.8011692 C27.1310521,51.8098407 27.1073275,51.8355754 27.0824995,51.8273235 C27.0667611,51.8221861 27.0511256,51.8167304 27.0356021,51.8109596 C26.9117378,51.8780936 26.7925633,51.9585146 26.6584919,51.9997529 C26.6206982,52.010963 24.9585995,51.6372503 24.8108727,51.6038232 C20.8582504,50.7161156 20.31562,50.3898163 13.8306766,48.0073978 C9.40604589,46.3814958 9.77722493,45.424836 6.00295063,44.5123728 C5.83425796,44.4719526 5.83053376,44.4802045 5.82018875,44.4692952 C5.74101492,44.3884546 5.71356615,44.3315306 5.69149679,44.2775436 C5.62308178,44.2190811 5.55411503,44.1600591 5.49645883,44.0906873 C5.48128614,44.0732045 5.21093649,37.7284802 5.24100599,33.8200216 C5.2793515,28.8210547 5.49645883,26.0982107 5.2480406,24.2383187 C4.99618061,24.162198 4.74490426,24.0841057 4.49423403,24.0040489 C4.46250933,23.9935593 4.4689922,23.9783142 4.3331277,23.753695 M5.04762322,16.6447618 C5.02389866,17.211345 4.98941529,18.2095439 4.99962237,19.2629886 C5.01534679,20.832526 4.97327707,21.7312827 4.81382594,23.3380235 L6.10157308,23.5658596 C7.68987731,23.8471232 8.97555544,24.2777599 10.9168315,25.0442067 C10.9394526,22.623326 10.9507631,20.5172758 10.9248316,18.6362645 C10.9218891,18.637197 10.9190384,18.6378963 10.9162798,18.6383625 C10.903314,18.6400408 9.00038347,18.0942972 8.15816153,17.8232436 C6.93069134,17.4282718 5.83425796,16.9421096 5.04762322,16.6447618 M10.4513059,13.8830361 C8.25719779,15.1511698 7.42587259,15.4908959 5.76694642,16.0497866 C6.52985659,16.2427969 7.73732643,16.5793062 8.97169331,17.0470065 C9.63172032,17.2968939 10.2894612,17.5529465 10.944832,17.8151316 C10.96966,17.7610048 11.0143505,17.7286965 11.0946278,17.7102347 C11.1091108,17.6707934 11.1285594,17.6347089 11.1587668,17.6057574 C11.1797327,17.5856171 13.4157727,16.5404244 14.9055924,15.7536976 C15.0348361,15.6848852 15.2793922,15.5536942 15.5661559,15.400265 C13.5337058,15.3811038 11.591878,15.0096289 10.4513059,13.8830361 M24.6126623,9.03595997 C20.4998992,3.55460718 20.0780986,0.151891461 15.7552627,1.10309659 C12.8623835,1.73905156 10.1543351,10.0936005 10.4313056,11.7899932 C10.4878583,12.1386705 10.6166882,12.6199375 11.0175229,13.0809245 C10.8317766,12.7548067 10.7039483,12.3981495 10.639861,12.0272001 C10.2227501,9.6380682 12.5698265,7.56908166 15.7988497,8.97372114 C19.382362,10.5323493 19.697678,10.3061916 22.3479322,12.0845437 C22.4122092,10.8344524 23.0275305,9.68058641 24.2930704,9.16057749 C24.4013482,9.11582148 24.5081087,9.07470189 24.6126623,9.03595997 M14.0548186,14.3982897 C14.9152477,14.5163337 15.9820254,14.5512994 17.3059111,14.4665427 C17.3273385,14.4549891 17.3490953,14.4440751 17.3711537,14.4338148 C17.4023266,14.4403884 17.4341893,14.4485004 17.4649484,14.4561928 C18.4195862,14.3890588 19.5042952,14.2610846 20.7381103,14.0573049 C21.4196398,13.9454148 22.122273,13.8142238 22.5705569,13.7300265 C22.4890179,13.4783843 22.4287985,13.2201476 22.3905536,12.9581252 C22.3830133,12.957659 22.3754729,12.956913 22.3679326,12.9558874 C22.3189662,12.9516915 20.7978355,11.9080372 19.1771169,11.2961386 C17.9540606,10.8350118 17.4466033,10.7355695 15.4610506,9.92101012 C11.6684311,8.36503937 10.3580629,11.9048204 12.639345,13.6329619 C13.3182537,14.1475162 14.0073694,14.3261207 14.0149558,14.3370299 C14.0284733,14.3574499 14.0417609,14.3778698 14.0548186,14.3982897 M28.1735535,9.14365412 C29.2043305,9.91835273 29.5539919,11.5021561 29.4236448,13.2575709 C30.4402147,12.5674891 32.4871478,11.3596362 35.8143796,10.1466084 C36.5761863,9.86856167 38.8725032,9.09987715 39.6824487,9.08295378 C40.6737767,9.06267371 41.8909019,9.36547611 42.5100854,10.1477273 C42.199735,6.19451262 37.5024097,0.890085944 34.6332551,2.29962062 C33.0583304,3.07375977 30.3745583,5.94303977 28.1735535,9.14365412 M29.0516381,15.0019365 C28.9298428,15.2778852 28.7639089,15.5685196 28.5451463,15.8318808 C28.8259789,15.9723028 29.7047532,16.4142684 30.3302817,16.7502182 C31.0905711,17.159456 32.4530782,17.8663213 34.3286979,19.2421491 C34.7645677,19.5622944 35.0539522,19.8091518 35.2478867,19.9944697 C35.2769907,20.0014628 35.3103706,20.006358 35.3496816,20.0080363 C35.3371344,20.0242939 35.3254841,20.0412432 35.3147845,20.0588064 C35.5098224,20.2533552 35.589548,20.3708398 35.6292728,20.4298617 L35.6116174,20.4445473 L35.6218244,20.6746212 C35.657963,20.7052511 35.6838945,20.7402167 35.689136,20.7849727 C35.6946533,20.8302882 35.6822393,30.2108687 35.6051345,34.6215738 C35.4914773,41.211477 35.4019584,44.0540433 35.5689959,47.8876755 C36.7517756,47.5500473 37.3248893,47.475081 38.2221467,47.1866845 C38.8056054,46.9988491 39.6832763,46.6059752 40.6428796,46.1361769 C40.6175663,46.1077596 40.5942009,46.0776187 40.5729473,46.0459656 C40.5572229,46.0219092 40.5809475,46.0186924 40.5981892,45.2909876 C40.7183292,40.2055857 40.3024598,34.6663298 40.6122584,30.0305859 C40.8219173,26.8842382 41.278753,23.2483716 40.9624715,18.4368206 C39.4322373,17.3211371 39.4532032,17.2233732 37.3493036,15.5827856 L37.5276516,15.2932701 C34.9816751,15.8433495 31.9563797,15.8700632 29.1632263,15.0359231 C29.1406052,15.0287901 29.0979838,15.015643 29.0516381,15.0019365 M28.0619653,16.2913292 C27.7284421,16.5360886 27.3167106,16.7109168 26.8140809,16.752456 C26.3921424,16.7868622 26.0182046,16.7118959 25.9357204,16.7021055 C25.9175132,16.7000075 25.8937886,16.7092385 25.8808229,16.6962313 C25.8514228,16.6664256 25.8228591,16.6357834 25.7951662,16.6043416 L25.7671657,16.6005653 C25.644323,16.5820868 25.5223957,16.5578177 25.4017798,16.5278368 C24.4930605,17.0723102 23.5839406,17.6160959 22.6744208,18.1591934 C21.1171516,19.0891394 20.1716175,19.5895676 19.3041537,20.1108353 C20.1420997,20.2653834 21.9944086,20.6423129 23.6835423,21.1919727 C25.3921245,21.7486256 27.03174,22.4479383 27.3442973,22.5862624 C27.6513373,22.4659806 28.1491393,22.3392651 29.7294433,21.7061074 C30.0850359,21.5634476 31.0118111,21.1919727 34.0092439,20.102024 C33.2721273,19.6141834 32.5329417,19.2366944 30.1406231,17.7089759 C29.9778616,17.6053378 28.1146559,16.4169258 28.1114834,16.405457 C28.0977466,16.366218 28.0811488,16.32807 28.0618273,16.2913292 M25.7325444,15.8488041 C25.8758113,15.8843292 26.0250553,15.9098308 26.1802765,15.9253089 C26.2390362,15.9307636 26.2755885,15.9416729 26.3063477,15.9630718 C26.7524247,15.9946808 27.504576,15.9307636 28.0121713,15.1205399 C28.0514823,15.0583011 28.3625224,14.5528378 28.4361789,14.0305911 C28.6339755,12.6351826 28.6161821,10.2351414 27.2040189,9.76198641 C26.674906,9.58436099 25.895168,9.59429123 24.6025932,10.1187758 C22.5029694,10.9710981 22.9371841,14.7774571 25.3483996,15.7264244 C25.4770915,15.7641873 25.6031627,15.8127196 25.7325444,15.8488041 M24.4210727,16.125732 C23.7518193,15.7307601 23.2308445,15.1406801 22.8778727,14.4648643 C22.8370444,14.4725567 22.7895953,14.4813681 22.736215,14.4928368 C21.7782669,14.6883646 19.672712,15.1549461 17.4122578,15.3314526 C17.3567693,15.3680903 17.3011357,15.4045014 17.2453583,15.4406852 C14.8293152,17.0223907 14.4779985,17.2359608 11.6249821,18.1959773 C11.6460859,18.6417192 11.7009834,19.9162865 11.7263632,20.7712662 C12.0140925,30.5212237 11.7473291,38.507095 11.6277407,46.0438676 C12.2705108,46.3514254 13.0701113,46.6900326 14.1574411,47.0676614 C15.2940988,47.4612322 16.4244707,47.8732268 17.5481223,48.3034868 C17.467845,42.5533182 17.7177805,42.3576506 17.5319841,36.2337693 C17.3083939,28.8417543 17.4575,27.8262124 18.0475795,20.7248318 C17.9650953,20.7062301 17.882749,20.687069 17.7986096,20.6881879 C17.8497829,20.5204927 17.8423345,20.3381119 17.8929561,20.1702769 C17.8961286,20.1604865 19.7113334,18.5947254 22.5633843,17.0878464 C23.4696074,16.6088172 24.0137551,16.3300711 24.4210727,16.125732 M46.4021549,15.8525804 C46.0200791,15.650479 45.5173115,15.3773275 45.0959247,15.1308897 C43.83204,14.3917162 43.6622439,14.2584272 42.0124213,13.4186925 C41.0511628,14.1480757 39.6756899,14.7605337 38.0775924,15.1647364 C39.685897,16.0050306 39.8221753,16.2356639 41.5079985,17.8784893 C41.5226195,17.8924756 41.5355852,17.9057625 41.5468958,17.9183501 C41.8869018,17.7489766 43.272168,17.0643495 44.2297023,16.6656014 C44.7252974,16.4590244 45.6849007,16.1131443 46.4021549,15.8525804 M47.0658909,23.6493575 C47.0410629,23.0975998 46.9759582,20.9816195 46.9931999,19.7976831 C47.0028553,19.1291401 47.0545803,17.3435151 47.0798222,16.4864374 C46.4149827,16.8120374 45.1713743,17.3993202 44.2290126,17.7577879 C43.3374105,18.0969546 41.7354509,18.6176628 41.7311749,18.6159845 L41.6885535,18.6012989 C41.712278,18.8541704 41.7430372,19.2022882 41.7710377,19.57698 C41.9429028,21.8956212 41.9282819,23.8286613 41.851315,25.6643572 C43.562518,24.9370719 43.9957671,24.7323132 45.242548,24.2941239 L47.0658909,23.6493575 Z M45.7173151,25.1479847 C44.2948069,25.7719114 43.3379622,26.0713571 41.8131074,26.4706647 C41.7026227,28.6217505 41.5296541,30.6933945 41.5005501,33.1677027 C41.4315834,39.0643073 41.5841378,41.309241 41.3540647,45.7816254 C43.1692696,44.8627285 45.0868211,43.7885842 45.7835232,43.3618636 C45.5717952,34.1882796 46.3185672,34.1773703 45.8276619,26.6973819 C45.7883508,26.096952 45.7458673,25.5228163 45.7173151,25.1479847 M26.7809769,51.2253551 C26.786954,51.2148188 26.7934369,51.2051217 26.8004255,51.1962637 C26.7735498,51.1617986 26.7507717,51.1242431 26.7325622,51.0843737 L26.7320105,47.2375944 C26.7320105,43.3689966 26.7136653,42.4685615 26.7201482,40.4618138 C26.7336657,36.4123737 26.7605627,32.9956717 26.6053875,31.0118615 C26.6039399,30.9945982 26.6030199,30.9772935 26.6026289,30.9599725 C22.8251821,30.0416351 22.7438013,29.8367364 18.4079998,28.4851048 C18.397241,29.03952 18.3928271,29.5754732 18.397241,30.0738034 C18.4506212,36.0715287 18.7157294,36.8090239 18.4463453,43.3515138 C18.3169637,46.4754834 18.3256535,48.0271185 18.3282742,48.6050305 C20.6197634,49.4966542 21.8698547,50.0184813 26.0508949,51.0531844 C26.5542142,51.1772424 26.7201482,51.2105297 26.7809769,51.2253551 M27.5078864,50.883671 C28.4513515,50.4947132 30.1942792,49.7828129 31.5090613,49.2818253 C32.9518457,48.7321655 33.996692,48.3710404 34.8011201,48.118169 C34.7914648,47.9903346 34.7811198,47.8493532 34.7725679,47.719281 C34.4346308,42.7656296 34.5515984,35.2999071 34.7440157,28.4811887 C33.8760002,28.8853914 32.2741784,29.6042849 31.2460221,29.9595357 C29.4022651,30.5959103 28.2455548,30.7665426 27.3154692,30.9679446 C27.3521595,31.2493481 27.4151951,31.9994309 27.4222297,32.0798518 C27.8360302,36.9891668 27.7049934,43.4786488 27.685131,44.4702742 C27.6630616,45.560223 27.6118883,48.0301954 27.5116106,50.7530393 C27.5099554,50.8045088 27.5084382,50.8475864 27.5078864,50.883671 M6.25716207,43.8322213 C6.4215788,43.8655086 6.63703092,43.9113835 6.85206924,43.9622935 C8.86120857,44.4375464 9.56108314,44.9625904 10.8537959,45.6515532 C10.8391749,43.3804653 10.8148986,35.4071817 10.8532441,31.2500474 C10.8710376,29.3128114 10.8914517,27.5404733 10.9081417,25.9072984 C10.075713,25.6664551 7.68601517,24.9704991 6.00074369,24.4655953 C6.02005438,24.6071362 6.03633054,24.7393063 6.03895127,24.7635025 C6.40171637,27.7256513 6.15702235,36.1850971 6.25716207,43.8323612 M41.9544893,12.1823077 C42.0983539,11.7796434 42.3128405,10.9536152 41.5931035,10.462418 C41.1135087,10.1351397 40.0972147,9.91611493 39.3543049,10.0931809 C37.9840735,10.4193403 32.0330707,12.3554575 29.3012978,14.2387066 L29.2948149,14.2670987 C30.1364851,14.5174526 33.4936485,15.3647399 37.6253085,14.3300368 C39.3752708,13.8918475 41.1048189,13.11603 41.9544893,12.1823077 M34.9834682,20.8526662 C34.9441572,20.8079102 34.8855354,20.7488882 34.7958786,20.6729428 C34.3195731,20.8934917 33.8411508,21.1093099 33.3606806,21.3203665 C30.8886365,22.4031823 29.7302709,22.7926995 27.7408561,23.2434765 C27.7360284,23.2445954 27.6691307,23.2583019 27.5900948,23.279561 C27.6158883,23.9499221 27.6509235,26.441853 27.6546477,26.6919272 C27.6665099,27.515298 27.6260954,29.2553279 27.6014053,30.1131048 C28.1616912,29.9416333 28.9920509,29.6848457 29.7877892,29.4017639 C33.4830276,28.0862169 33.6784794,27.9971244 34.7700851,27.5829915 C34.8396036,25.2037898 34.9172601,22.9216528 34.9851234,20.8751841 C34.9851234,20.8679112 34.9845717,20.8604519 34.9834682,20.8528061 M26.8647025,23.2468332 C26.4849716,23.1129847 25.5874383,22.8087837 23.5737472,22.213249 C21.7144036,21.6635892 19.9255441,21.0577047 18.7688338,20.7435734 C18.718626,21.7510033 18.5057946,24.8727352 18.4260691,27.7280289 C18.977803,27.8383805 20.6982476,28.1978272 21.9795118,28.5867849 C23.2930525,28.9856729 23.7176118,29.1986835 26.791046,30.1985608 C26.7645628,29.707923 26.728976,28.9528052 26.7241483,28.858398 C26.6223534,26.7309489 26.5910425,26.2168142 26.8648405,23.2468332" id="Shape"></path>
                    </g>
                </g>
              </svg>
            {% endif %}
          </div>
          <div class="collections__item__title">
            <h4>
              <b>{{ block.settings.Collection.title }}</b>
            </h4>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>

  <div class="collections__wrap">
    {%- for block in section.blocks limit: 1 -%}
      {% comment %}
        Slider
      {% endcomment %}

      <div class="infinity-loader">
        <svg viewBox="-2000 -1000 4000 2000">
          <path id="inf" d="M354-354A500 500 0 1 1 354 354L-354-354A500 500 0 1 0-354 354z"></path>
          <use xlink:href="#inf" stroke-dasharray="1570 5143" stroke-dashoffset="6713px"></use>
        </svg>
      </div>

      <div class="collections__slider [ js-inview ]">
        {% comment %}
          Item
        {% endcomment %}
        <div class="collections__slider__item collections__slider__item--text">
          <h2>
            <b>{{ block.settings.Collection.title }}</b>
          </h2>
          <p>
            <b>{{ block.settings.copy }}</b>
          </p>
          <p>
            <a href="{{ block.settings.Collection.url }}" class="button">Shop all</a>
          </p>
        </div>

        {%- for product in block.settings.Collection.products -%}
          {% comment %}
            Item
          {% endcomment %}
          <a href="{{ product.url }}" class="collections__slider__item collections__slider__item--product">
            {% assign on_sale = false %}
            {% if product.compare_at_price > product.price %}
              {%- assign on_sale = true -%}
            {% endif %}
            {% if on_sale %}
              <span class="sale-item">SALE</span>
            {% endif %}
            <div
              class="collections__slider__item__quickview [ js-show-quickview ]"
              data-tooltip
              data-id="{{ product.handle }}"
              data-collection="{{ block.settings.Collection.title | upcase }}"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="19.707" height="19.708">
                <path fill="#FFF" fill-rule="nonzero" d="M7.899 0c4.361 0 7.898 3.531 7.898 7.888 0 1.825-.62 3.505-1.663 4.841l5.573 5.563-1.414 1.416-5.577-5.569a7.87 7.87 0 0 1-4.817 1.637C3.537 15.776 0 12.245 0 7.888 0 3.53 3.537 0 7.899 0Zm0 2A5.893 5.893 0 0 0 2 7.888a5.893 5.893 0 0 0 5.899 5.888 5.893 5.893 0 0 0 5.898-5.888A5.893 5.893 0 0 0 7.899 2Z"></path>
              </svg>
              <div class="tooltip">
                <div class="tooltip__wrap">Quick view</div>
              </div>
            </div>

            <div class="collections__slider__item__image">
              {% if product.featured_media %}
                {{ product.featured_media | image_url: width: 400 | image_url: height: 400 | image_tag }}
              {% else %}
                <img
                  src="{{ 'placeholder.jpeg' | asset_url }}"
                  alt="placeholder image"
                  width="400"
                  height="400"
                  loading="lazy"
                >
              {% endif %}
            </div>
            <div class="collections__slider__item__title">
              <h6>
                <b>{{ product.title }}</b>
              </h6>

              <h6>
                {% if on_sale %}
                  <span class="old-price"> {{ product.compare_at_price | money }}</span>
                {% endif %}
                <b>{{ product.price | money }}</b>
              </h6>
            </div>
            <!-- Start of Judge.me code -->
            <div class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}">
              {{ product.metafields.judgeme.badge }}
            </div>
            <!-- End of Judge.me code -->
            <div class="collections__slider__item__description">
              <p>{{ product.metafields.custom.short_description }}</p>
            </div>
          </a>
        {%- endfor -%}
      </div>
    {%- endfor -%}
  </div>

  <div class="collections__slider__navigation">
    <div class="collections__slider__navigation__prev [ js-collection-slider-prev ]">
      <svg width="80" height="57" viewBox="0 0 80 57" xmlns="http://www.w3.org/2000/svg">
        <path d="M.217 27.968L28.18 0l7.523 7.524L20.049 23.18H80v10.64H20.049l15.653 15.656L28.179 57 .217 29.032a.76.76 0 010-1.064z" fill="#000" fill-rule="nonzero" />
      </svg>
    </div>
    <div class="collections__slider__navigation__next [ js-collection-slider-next ]">
      <svg width="80" height="57" viewBox="0 0 80 57" xmlns="http://www.w3.org/2000/svg">
        <path d="M79.783 27.968L51.82 0l-7.523 7.524L59.951 23.18H0v10.64h59.951L44.298 49.476 51.821 57l27.962-27.968a.76.76 0 000-1.064z" fill="#000" fill-rule="nonzero" />
      </svg>
    </div>
  </div>

  <div class="marquee-element">
    <div class="marquee-element__track">
      <span>
        <b>{{ section.settings.marquee }}</b>
      </span>
      <span>
        <b>{{ section.settings.marquee }}</b>
      </span>
      <span aria-hidden="true">
        <b>{{ section.settings.marquee }}</b>
      </span>
      <span aria-hidden="true">
        <b>{{ section.settings.marquee }}</b>
      </span>
    </div>
  </div>
</div>

{% comment %}
  This is a simple function to get the Judge me badge without
  duplicating data or refetching on each product
{% endcomment %}

<script>
  window.metafields = {};
  {%- for block in section.blocks -%}
     {%- for product in block.settings.Collection.products -%}
    window.metafields['{{ product.id }}'] = {
      id: '{{ product.id }}',
      badge: '{{ product.metafields.judgeme.badge | escape }}',
      short_description: '{{ product.metafields.custom.short_description | escape }}'
    };
  {%- endfor -%}
  {%- endfor -%}
</script>

{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "text",
      "id": "marquee",
      "default": "Through life's most vital moments.",
      "label": "Marquee"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "name": "Collection Item",
      "type": "collection_item",
      "settings": [
        {
          "id": "copy",
          "type": "text",
          "label": "Copy"
        },
        {
          "id": "Collection",
          "type": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}
