<div class="collections">
  {% comment %}
    Grid
  {% endcomment %}
  <div class="collections__grid">
    {%- for block in section.blocks -%}
      {% assign count = count | plus: 1 %}
      <div class="collections__item" data-id="{{ count }}">
        <div class="collections__item__image">
          {%- if block.settings.thumbnail != blank -%}
            {{ block.settings.thumbnail | image_url: width: 400, height: 400 | image_tag }}
          {%- endif -%}
        </div>
        <div class="collections__item__title">
          <h3 class="colour--white">
            <b>{{ block.settings.Collection.title }}</b>
          </h3>
        </div>
      </div>
    {%- endfor -%}
  </div>

  {%- for block in section.blocks limit: 1 -%}
    {% comment %}
      Slider
    {% endcomment %}
    
    <div class="collections__slider [ js-inview ]">
    
      {% comment %}
        Item
      {% endcomment %}
      <div class="collections__slider__item collections__slider__item--text">
        <h2>
          <b>{{ block.settings.Collection.title }}</b>
        </h2>
        <p> 
          <b>{{ block.settings.copy }}</b>
        </p>
        <p>
          <a href="{{ block.settings.Collection.url }}" class="button">Shop all</a>
        </p>
      </div>
      
      {%- for product in block.settings.Collection.products -%}
      {% comment %}
        Item
      {% endcomment %}
      <div class="collections__slider__item collections__slider__item--product">
        <div class="collections__slider__item__image">
          {%- if product.featured_image != blank -%}
            {{ product.featured_image | image_url: width: 400, height: 400 | image_tag }}
          {%- endif -%}
        </div>
        <div class="collections__slider__item__title">
          <h6>
            <b>{{ product.title }}</b>
          </h6>
          <h6>
            <b>${{ product.price | divided_by: 100.00 }}</b>
          </h6>
        </div>
        <div class="collections__slider__item__description">
          <p>{{ product.metafields.custom.short_description }}</p>
        </div>
      </div> 

    {%- endfor -%}
         </div> 
  {%- endfor -%}
  
  {% comment %}
    Marquee
  {% endcomment %}
  <div class="collections__marquee">
    <div class="collections__marquee__animation">
      <span>{{ section.settings.marquee }}</span>
      <span>{{ section.settings.marquee }}</span>
      <span>{{ section.settings.marquee }}</span>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "text",
      "id": "marquee",
      "default": "Through lifes most vital moments",
      "label": "Marquee"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "name": "Collection Item",
      "type": "collection_item",
      "settings": [
        {
          "id": "thumbnail",
          "type": "image_picker",
          "label": "Thumbnail"
        },
        {
          "id": "copy",
          "type": "text",
          "label": "Copy"
        },
        {
          "id": "Collection",
          "type": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}
