<div class="collections">
  {% comment %}
    Grid
  {% endcomment %}
  <div class="collections__grid">
    {% comment %}
      Item
    {% endcomment %}
    <div class="collections__item" data-id="1">
      <div class="collections__item__image">
        <img
          src="{{ 'collections-1.jpg' | asset_url }}"
          alt="collections item image"
          loading="lazy"
          width="400"
          height="400"
        >
      </div>
      <div class="collections__item__title">
        <h3 class="colour--white"><b>V-Delivery</b></h3>
      </div>
    </div>
    {% comment %}
      Item
    {% endcomment %}
    <div class="collections__item" data-id="2">
      <div class="collections__item__image">
        <img
          src="{{ 'collections-2.jpg' | asset_url }}"
          alt="collections item image"
          loading="lazy"
          width="400"
          height="400"
        >
      </div>
      <div class="collections__item__title">
        <h3 class="colour--white"><b>C-Section Delivery</b></h3>
      </div>
    </div>
    {% comment %}
      Item
    {% endcomment %}
    <div class="collections__item" data-id="3">
      <div class="collections__item__image">
        <img
          src="{{ 'collections-3.jpg' | asset_url }}"
          alt="collections item image"
          loading="lazy"
          width="400"
          height="400"
        >
      </div>
      <div class="collections__item__title">
        <h3 class="colour--white"><b>Pregnancy</b></h3>
      </div>
    </div>
    {% comment %}
      Item
    {% endcomment %}
    <div class="collections__item" data-id="4">
      <div class="collections__item__image">
        <img
          src="{{ 'collections-4.jpg' | asset_url }}"
          alt="collections item image"
          loading="lazy"
          width="400"
          height="400"
        >
      </div>
      <div class="collections__item__title">
        <h3 class="colour--white"><b>Breast Feeding</b></h3>
      </div>
    </div>
  </div>

  {% comment %}
    Slider
  {% endcomment %}
  <div class="collections__slider [ js-inview ]">
    {% comment %}
      Item
    {% endcomment %}
    <div class="collections__slider__item collections__slider__item--text">
      <h2><b>Pregnancy</b></h2>
      <p>
        <b>Sed ut perspiciatis unde omnis icto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia.</b>
      </p>
      <p>
        <a href="#" class="button">Shop all</a>
      </p>
    </div>
    {% comment %}
      Item
    {% endcomment %}
    <div class="collections__slider__item collections__slider__item--product">
      <div class="collections__slider__item__image">
        <img
          src="{{ 'collections-3.jpg' | asset_url }}"
          alt="collections item image"
          loading="lazy"
          width="400"
          height="400"
        >
      </div>
      <div class="collections__slider__item__title">
        <h6><b>Product title</b></h6>
        <h6><b>$29.99</b></h6>
      </div>
      <div class="collections__slider__item__description">
        <p>This is a short product description.</p>
      </div>
    </div>
    {% comment %}
      Item
    {% endcomment %}
    <div class="collections__slider__item collections__slider__item--product">
      <div class="collections__slider__item__image">
        <img
          src="{{ 'collections-3.jpg' | asset_url }}"
          alt="collections item image"
          loading="lazy"
          width="400"
          height="400"
        >
      </div>
      <div class="collections__slider__item__title">
        <h6><b>Product title</b></h6>
        <h6><b>$29.99</b></h6>
      </div>
      <div class="collections__slider__item__description">
        <p>This is a short product description.</p>
      </div>
    </div>
    {% comment %}
      Item
    {% endcomment %}
    <div class="collections__slider__item collections__slider__item--product">
      <div class="collections__slider__item__image">
        <img
          src="{{ 'collections-3.jpg' | asset_url }}"
          alt="collections item image"
          loading="lazy"
          width="400"
          height="400"
        >
      </div>
      <div class="collections__slider__item__title">
        <h6><b>Product title</b></h6>
        <h6><b>$29.99</b></h6>
      </div>
      <div class="collections__slider__item__description">
        <p>This is a short product description.</p>
      </div>
    </div>
    {% comment %}
      Item
    {% endcomment %}
    <div class="collections__slider__item collections__slider__item--product">
      <div class="collections__slider__item__image">
        <img
          src="{{ 'collections-3.jpg' | asset_url }}"
          alt="collections item image"
          loading="lazy"
          width="400"
          height="400"
        >
      </div>
      <div class="collections__slider__item__title">
        <h6><b>Product title</b></h6>
        <h6><b>$29.99</b></h6>
      </div>
      <div class="collections__slider__item__description">
        <p>This is a short product description.</p>
      </div>
    </div>
  </div>

  {% comment %}
    Marquee
  {% endcomment %}
  <div class="collections__marquee">
    <div class="collections__marquee__animation">
      <span>Through lifes most vital moments</span>
      <span>Through lifes most vital moments</span>
      <span>Through lifes most vital moments</span>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "text",
      "id": "marquee",
      "default": "Through lifes most vital moments",
      "label": "Marquee"
    }
  ],
  "blocks": [
    {
      "name": "Collection Item",
      "type": "collection_item",
      "settings": [
        {
          "id": "title",
          "type": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}
