<section class="comparison-element [ element ]">
  <div class="comparison-element__wrap">
    <div class="comparison-element__left">
      <h3>
        <b>
          {{ settings.option_1_heading }}
        </b>
      </h3>
      <img
        src="{{ settings.option_1_image | image_url: width: 480 }}"
        alt="{{ settings.option_1_heading }}"
        width="480"
        height="480"
        loading="lazy"
        class="comparison-element__image--img"
      >
      <div class="comparison-element__items">
        {% if settings.option_1_line_item_1 %}
          <div class="comparison-element__item">{{ settings.option_1_line_item_1 }}</div>
        {% endif %}
        {% if settings.option_1_line_item_2 %}
          <div class="comparison-element__item">{{ settings.option_1_line_item_2 }}</div>
        {% endif %}
        {% if settings.option_1_line_item_3 %}
          <div class="comparison-element__item">{{ settings.option_1_line_item_3 }}</div>
        {% endif %}
        {% if settings.option_1_line_item_4 %}
          <div class="comparison-element__item">{{ settings.option_1_line_item_4 }}</div>
        {% endif %}
        {% if settings.option_1_line_item_5 %}
          <div class="comparison-element__item">{{ settings.option_1_line_item_5 }}</div>
        {% endif %}
      </div>
    </div>
    <div class="comparison-element__vs">
      <span>
        <b>VS</b>
      </span>
    </div>
    <div class="comparison-element__right">
      <h3>
        <b>
          {{ settings.option_2_heading }}
        </b>
      </h3>
      <img
        src="{{ settings.option_2_image | image_url: width: 480 }}"
        alt="{{ settings.option_2_heading }}"
        width="480"
        height="480"
        loading="lazy"
        class="comparison-element__image--img"
      >
      <div class="comparison-element__items">
        {% if settings.option_2_line_item_1 %}
          <div class="comparison-element__item">{{ settings.option_2_line_item_1 }}</div>
        {% endif %}
        {% if settings.option_2_line_item_2 %}
          <div class="comparison-element__item">{{ settings.option_2_line_item_2 }}</div>
        {% endif %}
        {% if settings.option_2_line_item_3 %}
          <div class="comparison-element__item">{{ settings.option_2_line_item_3 }}</div>
        {% endif %}
        {% if settings.option_2_line_item_4 %}
          <div class="comparison-element__item">{{ settings.option_2_line_item_4 }}</div>
        {% endif %}
        {% if settings.option_2_line_item_5 %}
          <div class="comparison-element__item">{{ settings.option_2_line_item_5 }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "comparison-block",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "id": "option_1_image",
      "type": "image_picker",
      "label": "Option 1 Image"
    },
    {
      "type": "text",
      "id": "option_1_heading",
      "default": "Sed ut perspiciatis unde",
      "label": "Option 1 Heading"
    },
    {
      "type": "text",
      "id": "option_1_line_item_1",
      "default": "Sed ut perspiciatis unde",
      "label": "Line Item 1"
    },
    {
      "type": "text",
      "id": "option_1_line_item_2",
      "default": "Sed ut perspiciatis unde",
      "label": "Line Item 2"
    },
    {
      "type": "text",
      "id": "option_1_line_item_3",
      "default": "Sed ut perspiciatis unde",
      "label": "Line Item 3"
    },
    {
      "type": "text",
      "id": "option_1_line_item_4",
      "default": "Sed ut perspiciatis unde",
      "label": "Line Item 4"
    },
    {
      "type": "text",
      "id": "option_1_line_item_5",
      "default": "Sed ut perspiciatis unde",
      "label": "Line Item 5"
    },
    {
      "id": "option_2_image",
      "type": "image_picker",
      "label": "Option 2 Image"
    },
    {
      "type": "text",
      "id": "option_2_heading",
      "default": "Sed ut perspiciatis unde",
      "label": "Option 2 Heading"
    },
    {
      "type": "text",
      "id": "option_2_line_item_1",
      "default": "Sed ut perspiciatis unde",
      "label": "Line Item 1"
    },
    {
      "type": "text",
      "id": "option_2_line_item_2",
      "default": "Sed ut perspiciatis unde",
      "label": "Line Item 2"
    },
    {
      "type": "text",
      "id": "option_2_line_item_3",
      "default": "Sed ut perspiciatis unde",
      "label": "Line Item 3"
    },
    {
      "type": "text",
      "id": "option_2_line_item_4",
      "default": "Sed ut perspiciatis unde",
      "label": "Line Item 4"
    },
    {
      "type": "text",
      "id": "option_2_line_item_5",
      "default": "Sed ut perspiciatis unde",
      "label": "Line Item 5"
    }
  ],
  "presets": [
    {
      "name": "Comparison Block"
    }
  ]
}
{% endschema %}
