<div class="cart">
  <a href="{{ routes.all_products_collection_url }}" class="cart__continue">
    <div class="cart__continue__wrap">
      <h6 class="colour--white no-margin"><b>Continue Shopping</b></h6>
    </div>
  </a>

  <div class="cart__wrap">
    <h1>Your Cart</h1>

    <form action="{{ routes.cart_url }}" method="post" novalidate class="cart__wrap__form">
      <table class="cart__wrap__form__table">
        <thead class="cart__wrap__form__table__head">
          <tr>
            <th>
              <h6><b>Product</b></h6>
            </th>

            <th>
              <h6>&nbsp;</h6>
            </th>

            <th>
              <h6><b>Quantity</b></h6>
            </th>

            <th>
              <h6><b>Total</b></h6>
            </th>

            <th>
              <h6>&nbsp;</h6>
            </th>
          </tr>
        </thead>

        <tbody class="cart__wrap__form__table__body [ js-cart-items ]">
          {%- for item in cart.items -%}
            <tr class="cart__wrap__form__table__body__row" data-line="{{ forloop.index }}">
              <td class="cart__wrap__form__table__body__row__cell">
                <a href="{{ item.url }}" class="cart__wrap__form__table__body__row__cell__image">
                  {{ item.image | image_url: width: 400 | image_url: height: 400 | image_tag }}
                </a>
              </td>

              <td class="cart__wrap__form__table__body__row__cell cart__wrap__form__table__body__row__cell--details">
                <a class="colour--green" href="{{ item.url }}">
                  <h5 class="no-margin">
                    <b>{{ item.title }}</b>
                  </h5>
                </a>
                {%- unless item.product.has_only_default_variant -%}
                  <p>{{ item.variant.title }}</p>
                {% endunless %}
              </td>

              <td class="cart__wrap__form__table__body__row__cell">
                <div class="quantity quantity--cart">
                  <div class="quantity-remove" onclick="changeMainCartQuantity(event,-1)">-</div>
                  <div class="quantity-input">
                    <input type="text" value="{{ item.quantity }}">
                  </div>
                  <div class="quantity-add" onclick="changeMainCartQuantity(event,1)">+</div>
                </div>
              </td>

              <td class="cart__wrap__form__table__body__row__cell cart__wrap__form__table__body__row__cell--total">
                {% if item.original_price > item.discounted_price %}
                  <h5 class="no-margin discounted">
                    <strong>{{ item.original_price | money }}</strong
                    ><strong>{{ item.discounted_price | money }}</strong>
                  </h5>
                {% else %}
                  <h5 class="no-margin">{{ item.final_line_price | money }}</h5>
                {% endif %}
              </td>

              <td class="cart__wrap__form__table__body__row__cell">
                <a
                  href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
                  data-cart-item-index="{{ forloop.index }}"
                  class="[ js-remove-from-cart ]"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 20 25">
                    <path fill-rule="evenodd" d="M5.488 0v3.628H.045v1.814H1.86v19.955h16.327V5.442H20V3.628h-5.442V0h-9.07Zm1.814 1.814h5.442v1.814H7.302V1.814ZM3.673 5.442h12.699v18.14H3.673V5.443Zm2.722 2.721v12.699h1.814V8.163H6.395Zm5.442 0v12.699h1.814V8.163h-1.814Z"/>
                  </svg>
                </a>
              </td>
            </tr>
          {%- endfor -%}

          {% if cart.item_count == 0 %}
            <p class="cart__wrap__form__table__body__empty x">
              <br>
              Your cart is empty, but it doesn't have to stay that way!
            </p>
            <p class="cart__wrap__form__table__body__emptybutton">
              <a href="/collections/all" class="button">Shop Now</a>
            </p>
          {% endif %}
        </tbody>
      </table>
    </form>

    <div
      class="cart__totals [ js-checkout-totals ]"
      {% if cart.item_count == 0 %}
        style="display:none;"
      {% endif %}
    >
      <p>
        <i>SUBTOTAL</i>
      </p>
      <h3 class="[ js-cart-total ]">{{ cart.total_price | money }}</h3>
      <p>
        <i>Shipping & taxes calculated at checkout</i>
      </p>
      <p>
        <a href="{{ routes.root_url }}checkout" class="button"> Checkout </a>
      </p>
    </div>
  </div>
</div>
