<div class="cart">
  <a href="{{ routes.all_products_collection_url }}" class="cart__continue">
    <div class="cart__continue__wrap">
      <h6 class="colour--white no-margin"><b>Continue Shopping</b></h6>
    </div>
  </a>

  <div class="cart__wrap">
    <h1>Your Cart</h1>

    <form action="{{ routes.cart_url }}" method="post" novalidate class="cart__wrap__form">
      <table class="cart__wrap__form__table">
        <thead class="cart__wrap__form__table__head">
          <tr>
            <th>
              <h6><b>Product</b></h6>
            </th>

            <th>
              <h6>&nbsp;</h6>
            </th>

            <th>
              <h6><b>Quantity</b></h6>
            </th>

            <th>
              <h6><b>Total</b></h6>
            </th>

            <th>
              <h6>&nbsp;</h6>
            </th>
          </tr>
        </thead>

        <tbody class="cart__wrap__form__table__body [ js-cart-items ]">
          {%- for item in cart.items -%}
            <tr class="cart__wrap__form__table__body__row" data-line="{{ forloop.index }}">
              <td class="cart__wrap__form__table__body__row__cell">
                <a href="{{ item.url }}" class="cart__wrap__form__table__body__row__cell__image">
                  {{ item.image | image_url: width: 400, height: 400 | image_tag }}
                </a>
              </td>

              <td class="cart__wrap__form__table__body__row__cell cart__wrap__form__table__body__row__cell--details">
                <a class="colour--green" href="{{ item.url }}">
                  <h5 class="no-margin"><b>{{ item.title }}</b></h5>
                </a>
                {%- unless item.product.has_only_default_variant -%}
                  <p>{{ item.variant.title }}</p>
                {% endunless %}
              </td>

              <td class="cart__wrap__form__table__body__row__cell">
                <div class="quantity quantity--cart">
                  <div class="quantity-remove" onclick="changeMainCartQuantity(event,-1)">-</div>
                  <div class="quantity-input">
                    <input type="text" value="{{ item.quantity }}">
                  </div>
                  <div class="quantity-add" onclick="changeMainCartQuantity(event,1)">+</div>
                </div>
              </td>

              <td class="cart__wrap__form__table__body__row__cell cart__wrap__form__table__body__row__cell--total">
                {% if item.original_price > item.discounted_price %}
                  <h5 class="no-margin discounted">
                    <strong>{{ item.original_price | money }}</strong
                    ><strong>{{ item.discounted_price | money }}</strong>
                  </h5>
                {% else %}
                  <h5 class="no-margin">{{ item.final_line_price | money }}</h5>
                {% endif %}
              </td>

              <td class="cart__wrap__form__table__body__row__cell">
                <a
                  href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
                  data-cart-item-index="{{ forloop.index }}"
                  class="[ js-remove-from-cart ]"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 20 25">
                    <path fill-rule="evenodd" d="M5.488 0v3.628H.045v1.814H1.86v19.955h16.327V5.442H20V3.628h-5.442V0h-9.07Zm1.814 1.814h5.442v1.814H7.302V1.814ZM3.673 5.442h12.699v18.14H3.673V5.443Zm2.722 2.721v12.699h1.814V8.163H6.395Zm5.442 0v12.699h1.814V8.163h-1.814Z"/>
                  </svg>
                </a>
              </td>
            </tr>
          {%- endfor -%}

          {% if cart.item_count == 0 %}
            <p class="cart__wrap__form__table__body__empty x">
              <svg
                width="170"
                height="170"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <defs>
                  <path d="M85 0c46.944 0 85 38.056 85 85s-38.056 85-85 85S0 131.944 0 85 38.056 0 85 0zM68.469 38.053c-3.379 2.554-3.487 5.552-3.574 7.962-.09 2.507-.161 4.487-3.225 6.66a1.656 1.656 0 00.895 3.003c.03.002.119.005.256.006h.112c1.78 0 9.258-.324 11.136-5.684.206-.586.376-.79.37-.822.194.003.686.186 1.017.308 1.385.516 3.969 1.47 6.187-1.376.35-.45.581-.658.706-.748.119.075.28.195.398.284.547.408 1.493 1.095 2.78 1.113 1.08 3.052 2.431 9.227-.066 17.358-.047.151-.078.296-.122.446-1.725-3.242-4.687-6.226-9.187-5.6-2.054.293-3.658.155-5.211.02-3.518-.297-6.554-.561-10.861 4.772-3.837 4.753-2.435 7.84-1.412 10.095.734 1.616 1.088 2.525.479 3.936a1.653 1.653 0 001.755 2.295c2.51-.363 7.1-2.491 6.504-7.955a3.31 3.31 0 01-.01-.098c.35.075.787.197 1.145.296 2.325.643 6.216 1.72 9.224-1.573.889-.976 1.353-1.293 1.544-1.394.115.078.278.21.406.315.797.646 2.046 1.628 4.266 1.676-.664 6.244.352 11.263 1.15 14.02H53.99c-2.2 0-3.991 1.79-3.991 3.991v3.27c0 2.201 1.79 3.992 3.991 3.992h1.373l5.728 33.056a1.656 1.656 0 001.631 1.372h45.395c.804 0 1.493-.58 1.63-1.372l5.729-33.056h1.372c2.201 0 3.991-1.79 3.991-3.992v-3.27c0-2.2-1.79-3.991-3.99-3.991H88.6c-.89-2.726-2.911-10.721.024-20.279a34.677 34.677 0 001.507-8.34c.005-.005.011-.005.016-.009.716-.52 2.968-1.805 4.74-1.458.802.156 1.449.646 1.977 1.496 1.95 3.137 4.8 3.707 6.502 4.046l.081.016c-2.294 4.26.298 8.548.412 8.73a1.654 1.654 0 003.054-1.037c.083-.257.568-1.401 3.14-3.621 5.189-4.478 4.876-7.064 1.102-13.631-3.118-5.429-7.071-4.664-10.244-4.058-1.296.249-2.52.486-3.735.383-3.135-.275-5.593 1.702-7.228 3.638-.321-2.537-1.28-6.6-1.356-6.933-.064-.277-1.613-6.786-6.811-7.276-1.004-.094-1.985-.672-3.025-1.284-2.347-1.382-5.56-3.268-10.287.302zm43.83 59.52l-5.575 32.166H64.116l-5.574-32.166h53.757zm4.55-6.895a.68.68 0 01.681.681v3.27a.68.68 0 01-.68.682H53.99a.681.681 0 01-.68-.682v-3.27c0-.376.305-.681.68-.681h62.858zM68.656 64.162c.608 0 1.261.056 2 .12 1.572.136 3.529.302 5.962-.04 3.704-.555 5.7 3.252 6.594 5.698-.582-.167-.98-.49-1.41-.838-2.199-1.784-3.898-1.415-6.482 1.415-1.52 1.667-3.403 1.307-5.895.617-1.635-.455-3.18-.884-4.383.141-1.17.993-.987 2.66-.927 3.21.186 1.701-.52 2.745-1.37 3.38-.118-1.304-.621-2.412-1.062-3.383-.918-2.023-1.582-3.483.972-6.647 2.462-3.049 3.979-3.673 6-3.673zm39.63-9.233c3.378 5.882 3.065 6.49-.395 9.477a24.958 24.958 0 00-2.073 1.981 4.637 4.637 0 01.637-2.143c.282-.477 1.03-1.744.474-2.984-.538-1.206-1.8-1.459-2.914-1.682-1.475-.294-3.147-.629-4.34-2.55-1.016-1.631-2.459-2.67-4.173-2.998a6.62 6.62 0 00-1.536-.111c.867-.66 1.861-1.12 2.931-1.013 1.664.138 3.246-.165 4.64-.432 2.995-.58 4.805-.927 6.748 2.455zM73.737 39.31c1.14 0 2.125.58 3.339 1.294 1.245.734 2.655 1.565 4.393 1.729 1.398.13 2.374 1.32 2.999 2.472-1.024-.732-3.031-1.817-5.437 1.27-.702.903-1.054.816-2.425.31-.997-.372-2.238-.83-3.533-.222-.94.442-1.636 1.34-2.129 2.744-.57 1.629-2.297 2.493-4.026 2.953 1.151-2.016 1.222-4.003 1.285-5.725.08-2.225.137-3.835 2.261-5.44 1.327-1.004 2.35-1.385 3.273-1.385z" id="a" />
                </defs>
                <g fill="none" fill-rule="evenodd">
                  <use fill="#84989e" xlink:href="#a" />
                </g>
              </svg>
              <br>
              Your cart is empty, but it doesn't have to stay that way!
            </p>
            <p class="cart__wrap__form__table__body__emptybutton">
              <a href="/collections/all" class="button"
                >Shop Now
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16">
                  <path fill="#FFF" fill-rule="evenodd" d="M13.4765714,0.0234857143 L21.452,8.00005714 L13.4765714,15.9765714 L11.8091714,14.3091714 L16.9288571,9.18948571 L0.142857143,9.18971429 L0.142857143,6.80914286 L16.9278571,6.80848571 L11.8091714,1.69088571 L13.4765714,0.0234857143 Z" />
                </svg>
              </a>
            </p>
          {% endif %}
        </tbody>
      </table>
    </form>

    <div
      class="cart__totals [ js-checkout-totals ]"
      {% if cart.item_count == 0 %}
        style="display:none;"
      {% endif %}
    >
      <p>
        <i>SUBTOTAL</i>
      </p>
      <h3 class="[ js-total ]">{{ cart.total_price | money }}</h3>
      <p>
        <i>Shipping & taxes calculated at checkout</i>
      </p>
      <p>
        <a href="{{ routes.root_url }}checkout" class="button"> Checkout </a>
      </p>
    </div>
  </div>
</div>
