<div class="[ js-gradient-background ]"></div>

<div class="collection-grid">
  <div class="collection-grid-wave1 [ js-wave ]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 768">
      <path d="M0,32L48,74.7C96,117,192,203,288,245.3C384,288,480,288,576,266.7C672,245,768,203,864,176C960,149,1056,139,1152,149.3C1248,160,1344,192,1392,208L1440,224L1440,320" stroke-width="1" stroke="red" fill-opacity="0"/>
    </svg>
  </div>

  <div class="collection-grid-wave2 [ js-wave ]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 768">
      <path d="M0,32L48,74.7C96,117,192,203,288,245.3C384,288,480,288,576,266.7C672,245,768,203,864,176C960,149,1056,139,1152,149.3C1248,160,1344,192,1392,208L1440,224L1440,320" stroke-width="3" stroke="red" fill-opacity="0"/>
    </svg>
  </div>

  {% render 'grid-slide' %}

  {% assign ordered_collections = 'postpartum,v-delivery,c-section-delivery,pregnancy,breast-care' | split: ',' %}

  <div class="collection-grid__list">
    {% for ordered_handle in ordered_collections %}
      {% assign collection = collections[ordered_handle] %}
      {% if collection.products.size > 0 %}
        <div
          class="collection-grid__list__title [ js-in-view ]"
          data-handle="{{ collection.handle | downcase | replace: ' ', '-' }}"
        >
          <h2 class="h1">
            <b>{{ collection.title }}</b>
          </h2>
        </div>

        <div class="[ js-gradient ]" data-collection="{{ collection.title }}"></div>

        {% for product in collection.products %}
          {% comment %}
            Item
          {% endcomment %}
          <div class="collection-grid__list__item collection-grid__list__item--product">
            <div
              class="collections__slider__item__quickview [ js-show-quickview ]"
              data-tooltip
              data-id="{{ product.handle }}"
              data-collection="{{ collection.title | downcase }}"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="19.707" height="19.708">
                <path fill="#FFF" fill-rule="nonzero" d="M7.899 0c4.361 0 7.898 3.531 7.898 7.888 0 1.825-.62 3.505-1.663 4.841l5.573 5.563-1.414 1.416-5.577-5.569a7.87 7.87 0 0 1-4.817 1.637C3.537 15.776 0 12.245 0 7.888 0 3.53 3.537 0 7.899 0Zm0 2A5.893 5.893 0 0 0 2 7.888a5.893 5.893 0 0 0 5.899 5.888 5.893 5.893 0 0 0 5.898-5.888A5.893 5.893 0 0 0 7.899 2Z"></path>
              </svg>
              <div class="tooltip">
                <div class="tooltip__wrap">Quick view</div>
              </div>
            </div>

            <div class="collection-grid__list__item__images [ js-collection-grid-slider ]">
              {% for media in product.media %}
                <a href="{{ product.url }}" class="collection-grid__list__item__image" data-index="{{ forloop.index }}">
                  {% if media.preview_image %}
                    {{ media.preview_image | image_url: width: 800, height: 800, crop: 'center' | image_tag }}
                  {% else %}
                    <img
                      src="{{ 'placeholder.jpeg' | asset_url }}"
                      alt="placeholder image"
                      width="400"
                      height="400"
                      loading="lazy"
                    >
                  {% endif %}
                </a>
              {% endfor %}
            </div>

            <a href="{{ product.url }}" class="collection-grid__list__item__title">
              <h6>
                <b>{{ product.title }}</b>
              </h6>
              <h6>
                <b>{{ product.price | money }}</b>
              </h6>
            </a>
            <a href="{{ product.url }}" class="collection-grid__list__item__description">
              <p>{{ product.metafields.custom.short_description }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <div
          class="collection-grid__list__title [ js-in-view ]"
          data-handle="{{ collection.handle | downcase | replace: ' ', '-' }}"
        >
          <h2 class="h1">
            <b>{{ collection.title }}</b>
          </h2>
        </div>
        <div class="[ js-gradient ]" data-collection="{{ collection.title }}"></div>
        <div class="banner banner--text" style="margin-top : -15rem">
          <div class="banner-text">
            <div class="banner-constraint">
              <h1 class="black">
                <b> COMMING SOON </b>
              </h1>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% comment %}
    Marquee
  {% endcomment %}
  <div class="collection-grid__marquee">
    <div class="collection-grid__marquee__animation">
      <span>Through lifes most vital moments.</span>
      <span>Through lifes most vital moments.</span>
      <span>Through lifes most vital moments.</span>
    </div>
  </div>
</div>
