<div class="banner-blog">
  <div class="banner-blog-wrap">
    <div class="banner-blog-text">
      <div class="banner-blog-text__constraint">
        <h6 class="white">
          <b>
            {{ article.tags | join: ' | ' | upcase }}
          </b>
        </h6>
        <h1 class="white">
          <b>
            {{ article.title }}
          </b>
        </h1>
        <p class="white">{{ article.excerpt }}</p>
      </div>
    </div>

    <div class="banner-blog-image">
      <img
        src="{{ article.image | image_url: width: 640 | image_url: height: 480 }}"
        alt="grid item image"
        loading="lazy"
        width="640"
        height="480"
      >
      <div class="banner-blog-image__shadow"></div>
    </div>
  </div>
</div>

<div class="blog">
  {% comment %}
    Wave top left
  {% endcomment %}
  <div class="blog-wave1 [ js-wave ]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 768">
      <path d="M0,32L48,74.7C96,117,192,203,288,245.3C384,288,480,288,576,266.7C672,245,768,203,864,176C960,149,1056,139,1152,149.3C1248,160,1344,192,1392,208L1440,224L1440,320" stroke-width="1" stroke="red" fill-opacity="0"/>
    </svg>
  </div>

  {% comment %}
    Wave top left
  {% endcomment %}
  <div class="blog-wave2 [ js-wave ]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 768">
      <path d="M0,32L48,74.7C96,117,192,203,288,245.3C384,288,480,288,576,266.7C672,245,768,203,864,176C960,149,1056,139,1152,149.3C1248,160,1344,192,1392,208L1440,224L1440,320" stroke-width="3" stroke="red" fill-opacity="0"/>
    </svg>
  </div>

  <div class="blog-content">
    {{ article.content }}
  </div>
</div>

{% comment %}
  Related articles
{% endcomment %}

<div class="related-articles">
  {% comment %}
    Wave top left
  {% endcomment %}
  <div class="related-articles-wave1 [ js-wave ]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 768">
      <path d="M0,32L48,74.7C96,117,192,203,288,245.3C384,288,480,288,576,266.7C672,245,768,203,864,176C960,149,1056,139,1152,149.3C1248,160,1344,192,1392,208L1440,224L1440,320" stroke-width="1" stroke="red" fill-opacity="0"/>
    </svg>
  </div>

  {% comment %}
    Wave top left
  {% endcomment %}
  <div class="related-articles-wave2 [ js-wave ]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 768">
      <path d="M0,32L48,74.7C96,117,192,203,288,245.3C384,288,480,288,576,266.7C672,245,768,203,864,176C960,149,1056,139,1152,149.3C1248,160,1344,192,1392,208L1440,224L1440,320" stroke-width="3" stroke="red" fill-opacity="0"/>
    </svg>
  </div>

  {% comment %}
    Intro
  {% endcomment %}
  <div class="related-articles-intro">
    <h2 class="colour--green"><b>You may also like...</b></h2>
    <a href="/blogs/news" class="arrow-link">Browse all</a>
  </div>

  {% comment %}
    Intro
  {% endcomment %}
  <div class="related-articles-grid">
    {% for tag in article.tags %}
      {% assign rendered_articles = '' | split: ',' %}
      {% assign counter = 0 %}
      {% assign skip_articles = article.handle | split: '.....' %}
      {% for related_article in blog.articles %}
        {% if related_article.tags contains tag and counter < 3 %}
          {% unless skip_articles contains related_article.handle %}
            {% assign counter = counter | plus: 1 %}
            {% assign temp = related_article.handle | split: '.....' %}
            {% assign skip_articles = skip_articles | concat: temp %}

            {% capture matching_articles %}
              {{ rendered_articles | append: related_article.id | append: ',' }}
            {% endcapture %}
            {% assign rendered_articles = rendered_articles | split: ',' %}

            <a href="{{ related_article.url }}" class="related-articles-grid__item">
              <div class="related-articles-grid__item__image">
                <img
                  src="{{ related_article.image | image_url: width: 640 | image_url: height: 480 }}"
                  alt="grid item image"
                  loading="lazy"
                  width="640"
                  height="480"
                >
                <div class="animatedPanel [ js-inview ]">
                  <div class="animatedPanel__colour"></div>
                </div>
              </div>

              <div class="related-articles-grid__item__content [ js-inview ]">
                <h6>
                  <b>{{ related_article.tags | join: ' | ' }}</b>
                </h6>
                <h4 class="colour--green">
                  <b>{{ related_article.title }}</b>
                </h4>
                <p>{{ related_article.excerpt }}</p>
                <p><span class="arrow-link">Read now</span></p>
              </div>
            </a>
          {% endunless %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% assign recent_articles = blog.articles | sort: 'published_at' | reverse %}

    {% for recent_article in recent_articles %}
      {% if counter < 3 %}
        {% if matching_articles contains recent_article.id or matching_articles contains article.id %}
        {% else %}
          {% assign counter = counter | plus: 1 %}
          <a href="{{ recent_article.url }}" class="related-articles-grid__item">
            <div class="related-articles-grid__item__image">
              <img
                src="{{ recent_article.image | image_url: width: 640 | image_url: height: 480 }}"
                alt="grid item image"
                loading="lazy"
                width="640"
                height="480"
              >
            </div>

            <div class="related-articles-grid__item__content [ js-inview ]">
              <h6>
                <b>
                  {% for tag in recent_article.tags %}
                    {{ tag }}
                    {% unless forloop.last %} | {% endunless %}
                  {% endfor -%}
                </b>
              </h6>
              <h4 class="colour--green">
                <b>
                  {{ recent_article.title }}
                </b>
              </h4>
              <p>{{ recent_article.excerpt }}</p>
              <p>
                <span class="arrow-link">Read now</span>
              </p>
            </div>
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
