<div class="banner__push"></div>

<div class="product">
  <div class="product-wrap">
    <div class="product-gallery">

      <div class="[ js-product-imagery-slider ]">
        {% for media in product.media %}
        <img class="[ js-product-slider-item-image ]" src="{{ media.preview_image | img_url: '540x540', crop: 'center' }}" srcset="
            {{ media.preview_image | img_url: '540x540', crop: 'center' }} 540w,
            {{ media.preview_image | img_url: '768x768', crop: 'center' }} 768w,
            {{ media.preview_image | img_url: '968x968', crop: 'center' }} 968w,
            {{ media.preview_image | img_url: '1080x1080', crop: 'center' }} 1080w" alt="{{ media.preview_image.alt | escape }}" data-lightbox-image="{{ media.preview_image | img_url: '1080x1080', crop: 'center' }}" />
        {% endfor %}
      </div>

     
    </div>

    <div class="product-details">

      <p><b>{% for collection in product.collections %}{{ collection.title }}{% endfor %}</b></p>
      <h1>
        <b>{{ product.title | escape }}</b>
      </h1>
      <p class="h4"></p>

     

      {% form 'product', product, novalidate: 'novalidate', data-product-form: '' %}
        <select style="display:nones !important;" name="id" id="ProductSelect-{{ section.id }}" class="[ js-variant ]">
          {% for variant in product.variants %}
            <option
              value="{{ variant.id }}"
            >
              {{ variant.title | downcase }}
              {%- if variant.available == false %} - Sold out{% endif %}
            </option>
          {% endfor %}
        </select>

        <div class="product-actions">
          <div class="quantity">
            <div class="quantity-remove" onclick="changeQuantity(event,-1)">-</div>
            <div class="quantity-input">
              <input type="text" value="1">
            </div>
            <div class="quantity-add" onclick="changeQuantity(event,1)">+</div>
          </div>
          {% unless product.available %}
            <a href="#" class="button" disabled>Sold out</a>
          {% else %}
            <a href="#" class="button [ js-add-to-cart ]">Add to Cart <span class="loader"></span></a>
          {% endunless %}
        </div>
      {% endform %}

       
      {%- if product.description != blank -%}
        <p>
          {{ product.description }}
        </p>
      {%- endif -%}
    </div>
  </div>
</div>

<div class="related-products">
  <div class="related-products-wave1 [ js-wave ]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 768">
      <path d="M0,32L48,74.7C96,117,192,203,288,245.3C384,288,480,288,576,266.7C672,245,768,203,864,176C960,149,1056,139,1152,149.3C1248,160,1344,192,1392,208L1440,224L1440,320" stroke-width="1" stroke="red" fill-opacity="0"/>
    </svg>
  </div>

  <div class="related-products-wave2 [ js-wave ]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 768">
      <path d="M0,32L48,74.7C96,117,192,203,288,245.3C384,288,480,288,576,266.7C672,245,768,203,864,176C960,149,1056,139,1152,149.3C1248,160,1344,192,1392,208L1440,224L1440,320" stroke-width="3" stroke="red" fill-opacity="0"/>
    </svg>
  </div>

  {% comment %}
    Slider
  {% endcomment %}
  <div class="related-products__list">
    {% comment %}
      Title
    {% endcomment %}
    <div class="related-products__list__title">
      <h2 class="colour--white">You may also like...</h2>
    </div>

    {% assign count = 0 %}
    {% for related_product in product.collections.first.products %}
      {% if count < 3 and related_product.id != product.id %}
       {% comment %}
       Item
       {% endcomment %}
       <a href="#" class="related-products__list__item related-products__list__item--product">
         <div class="related-products__list__item__image">
            {% if related_product.featured_media %}
              {{ related_product.featured_media | image_url: width: 400, height: 400 | image_tag }}
            {% else %}
              <img src="{{ 'placeholder.jpeg' | asset_url }}" alt="placeholder image" width="400" height="400" loading="lazy">
            {% endif %}
         </div>
         <div class="related-products__list__item__title">
           <h6><b>{{ related_product.title | escape }}</b></h6>
           <h6><b>${{ product.price | divided_by: 100.00 }}</b></h6>
         </div>
         <div class="related-products__list__item__description">
           <p>
            {{ product.metafields.custom.short_description }}
          </p>
         </div>
       </a>
     {% endif %}
    {% endfor %}

   

  {% comment %}
    Marquee
  {% endcomment %}
  <div class="related-products__marquee">
    <div class="related-products__marquee__animation">
      <span>Through lifes most vital moments</span>
      <span>Through lifes most vital moments</span>
      <span>Through lifes most vital moments</span>
    </div>
  </div>
</div>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image": [
        {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
            "gtin12": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>
